<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>创建角色</title>
    <script type="text/javascript" th:src="@{/static/js/browser.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/leftNav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/projectManage.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/role.css}"/>
</head>
<body>
<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('createRole')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title font">创建角色</div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                </div>
            </div>

            <div id="createRole" class="table-content-list">
                <div class="p-detail">
                    <div class="p-nav">角色名称 ： 施工人员</div>
                    <div class="p-content ">
                        <div id="tab">
                            <div class="tab-nav clearfix">
                                <div class="f-l data-scope">数据权限范围</div>
                                <div class="f-l active" tabindex="0">项目管理</div>
                                <div class="f-l" tabindex="1">用户管理</div>
                                <div class="f-l" tabindex="2">角色管理</div>
                                <div class="f-l" tabindex="3">合作管理</div>
                            </div>
                            <div class="tab-content clearfix">
                                <div class="clearfix f-l  fix-left-nav">
                                    <div class="company-select">
                                        <div>
                                            <input type="radio" name="data-scope-content" checked>
                                            <label for="">所在账号相关内容</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="data-scope-content">
                                            <label for="">隶属公司名下所有账号相关内容</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="data-scope-content">
                                            <label for="">所有公司名下所有账号相关内容</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix f-r fix-right-nav">
                                    <div class="clearfix limit">
                                        <div class="f-l ">
                                            <input type="checkbox" id="allChecked">
                                            <label for="">全选</label>
                                        </div>
                                        <div class="f-r clearfix">
                                            <div class="f-l">
                                                <input type="radio" value="0"  id="isAllRadio" name="isRead">
                                                <label for="">查看数据</label>
                                            </div>
                                            <div class="f-l">
                                                <input type="radio" value="1" id="noAllRadio" name="isRead">
                                                <label for="">不可查看数据</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--项目管理-->
                                    <div class="tab-content-part active" tabContent="0">
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">项目列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">创建项目</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">项目重命名</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">项目移交</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">项目删除</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead1"   class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead1"  class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">网络列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">创建网络</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">网络重命名</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">网络移动</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">网络删除</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead2"  class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead2" class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">区域列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">创建区域</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">区域重命名</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">区域删除</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead3"  class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead3" class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">组列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">创建组</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">组重命名</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">组移动</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">组删除</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead4"  class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead4" class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">灯列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">灯重命名</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">灯移动</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">灯删除</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">导出灯信息</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead5"  class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead5" class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">场景列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">灯重命名</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">灯删除</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead6"  class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead6" class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix ">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">定时列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox" class="singleListChecked">
                                                    <label for="">定时重命名</label>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead7"  class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead7" class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--用户管理-->
                                    <div class="tab-content-part" tabContent="1">
                                        <div class="list clearfix one">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">用户列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">创建账号</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">账号状态编辑</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">重置账号密码</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">账号移交</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">账号删除</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix " style="line-height: 96px;">
                                                    <div class="f-r">
                                                        <input type="radio" value="0" name="isRead8"  class="singleIsRadio">
                                                        <label for="">可读</label>
                                                    </div>
                                                    <div class="f-r">
                                                        <input type="radio" value="1" name="isRead8" class="singleNoRadio">
                                                        <label for="">不可读</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--角色管理-->
                                    <div class="tab-content-part " tabContent="2">
                                        <div class="list clearfix " style="border-bottom:1px solid #bbb;">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">角色列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox">
                                                    <label for="">创建角色</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox">
                                                    <label for="">角色删除</label>
                                                </div>
                                                <div class="f-l zero">
                                                    <input type="checkbox">
                                                    <label for="">角色重命名</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="0" name="isRead9" checked class="singleIsRadio">
                                                    <label for="">可读</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="1" name="isRead9" class="singleNoRadio">
                                                    <label for="">不可读</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--合作管理-->
                                    <div class="tab-content-part" tabContent="3">
                                        <div class="list clearfix " style="border-bottom:1px solid #bbb;">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">权限列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox">
                                                    <label for="">权限编辑</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="0" name="isRead10" checked class="singleIsRadio">
                                                    <label for="">可读</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="1" name="isRead10" class="singleNoRadio">
                                                    <label for="">不可读</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content-part" tabContent="4">
                                        <div class="list clearfix one">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">合作列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">新增合作</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">合作信息编辑</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">合作删除</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">合作状态变更</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">合作备忘录</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix " style="line-height: 96px;">
                                                    <div class="f-r">
                                                        <input type="radio" value="0" name="isRead11" checked class="singleIsRadio">
                                                        <label for="">可读</label>
                                                    </div>
                                                    <div class="f-r">
                                                        <input type="radio" value="1" name="isRead11" class="singleNoRadio">
                                                        <label for="">不可读</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content-part" tabContent="5">
                                        <div class="list clearfix one">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">OTA文件</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">上传新版本</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">文件删除</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">文件下载</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">日志录入&修改</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix " style="line-height: 96px;">
                                                    <div class="f-r">
                                                        <input type="radio" value="0" name="isRead8" checked>
                                                        <label for="">可读</label>
                                                    </div>
                                                    <div class="f-r">
                                                        <input type="radio" value="1" name="isRead8">
                                                        <label for="">不可读</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="list clearfix " style="border-bottom:1px solid #bbb;">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">PC文件</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero">
                                                    <input type="checkbox">
                                                    <label for="">文件下载</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="0" name="isRead1" checked>
                                                    <label for="">可读</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="1" name="isRead1">
                                                    <label for="">不可读</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content-part" tabContent="6">
                                        <div class="list clearfix one">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">OTA文件</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">上传新版本</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">文件删除</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">文件下载</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="checkbox">
                                                        <label for="">日志录入&修改</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix " style="line-height: 96px;">
                                                    <div class="f-r">
                                                        <input type="radio" value="0" name="isRead8" checked>
                                                        <label for="">可读</label>
                                                    </div>
                                                    <div class="f-r">
                                                        <input type="radio" value="1" name="isRead8">
                                                        <label for="">不可读</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="list clearfix " style="border-bottom:1px solid #bbb;">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox">
                                                    <label for="">具体产品表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class="f-l zero" style="width:35%;">
                                                    <input type="checkbox">
                                                    <label for="">上传新品&下载Excel模板</label>
                                                </div>
                                                <div class="f-l zero" style="width:17%;">
                                                    <input type="checkbox">
                                                    <label for="">产品删除</label>
                                                </div>
                                                <div class="f-l zero" style="width:23%;">
                                                    <input type="checkbox">
                                                    <label for="">说明录入&修改</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="0" name="isRead1" checked>
                                                    <label for="">可读</label>
                                                </div>
                                                <div class="f-r">
                                                    <input type="radio" value="1" name="isRead1">
                                                    <label for="">不可读</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="alter">
                                <button type="button">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/left.js}"></script>
<script th:src="@{/static/js/role.js}"></script>
<script th:src="@{/static/js/moment.js}"></script>
<script th:src="@{/static/js/roleDetail.js}"></script>
</body>
</html>