<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>角色详情</title>
    <script type="text/javascript" th:src="@{/static/js/browser.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/leftNav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/projectManage.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/role.css}"/>
</head>
<body>
<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('createRole')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title font">角色详情 > 角色权限详情</div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                </div>
            </div>

            <div id="roleDetail" class="table-content-list">
                <div class="p-detail">
                    <div class="p-nav">角色名称 ： <span class="roleName" th:text="${roleName}"></span></div>
                    <div class="p-content ">
                        <!--<div class="clearfix" style="border: 1px solid #bbb;margin:20px auto; width:400px;">-->
                        <!--<div alt="default" class="f-l ad" style="border-right: 1px solid #bbb; width: 24%;text-align: center;padding: 3px;">默认</div>-->
                        <!--<div alt="Admin"  class="f-l ad" style="border-right: 1px solid #bbb; width: 24%;text-align: center;padding: 3px;">管理员</div>-->
                        <!--<div alt="yi-Admin"  class="f-l ad" style="border-right: 1px solid #bbb; width: 24%;text-align: center;padding: 3px;">乙方管理员</div>-->
                        <!--<div alt="builders"  class="f-l ad" style="width: 21%; ;text-align: center;padding: 3px;">施工人员</div>-->
                        <!--</div>-->
                        <div id="tab">
                            <div class="tab-nav clearfix">
                                <div class="f-l data-scope">数据权限范围</div>
                                <div class="f-l active" tabindex="0">项目管理</div>
                                <div class="f-l" tabindex="1">用户管理</div>
                                <div class="f-l" tabindex="2">角色管理</div>
                                <div class="f-l" tabindex="3">合作管理</div>
                            </div>
                            <div class="tab-content clearfix">
                                <div class="clearfix f-l  fix-left-nav">
                                    <div class="company-select">
                                        <div>
                                            <input type="radio" name="data-scope-content" value="0">
                                            <label for="">所在账号相关内容</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="data-scope-content" value="1">
                                            <label for="">隶属公司名下所有账号相关内容</label>
                                        </div>
                                        <div th:if="${rid} le 2">
                                            <input type="radio" name="data-scope-content" value="2">
                                            <label for="">所有公司名下所有账号相关内容</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix f-r fix-right-nav">
                                    <div class="clearfix limit">
                                        <div class="f-l ">
                                            <input type="checkbox" id="allChecked">
                                            <label for="">全选</label>
                                        </div>
                                        <div class="f-r clearfix">
                                            <div class="f-l">
                                                <input type="radio" value="0" id="isAllRadio" name="isRead">
                                                <label for="">查看数据</label>
                                            </div>
                                            <div class="f-l">
                                                <input type="radio" value="1" id="noAllRadio" name="isRead">
                                                <label for="">不可查看数据</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--项目管理-->
                                    <div class="tab-content-part active" id="projectManage" tabContent="0">
                                        <div class="list clearfix " th:if="${#lists.contains(permissions,'viewProject')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">项目列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'createProject')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">创建项目</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renameProject')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">项目重命名</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'moveProject')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">项目移交</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'deleteProject')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">项目删除</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead1"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead1"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix"
                                             th:if="${#lists.contains(permissions,'viewMesh')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">网络列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'createMesh')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">创建网络</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renameMesh')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">网络重命名</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'moveMesh')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">网络移动</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'deleteMesh')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">网络删除</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead2"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead2"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix" th:if="${#lists.contains(permissions,'viewPlace')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">区域列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'createPlace')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">创建区域</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renamePlace')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">区域重命名</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'deletePlace')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">区域删除</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead3"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead3"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix" th:if="${#lists.contains(permissions,'viewGroup')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">组列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'createGroup')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">创建组</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renameGroup')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">组重命名</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'moveGroup')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">组移动</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'deleteGroup')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">组删除</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead4"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead4"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix" th:if="${#lists.contains(permissions,'viewLight')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">灯列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renameLight')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">灯重命名</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'moveLight')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">灯移动</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'deleteLight')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">灯删除</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'outLight')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">导出灯信息</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead5"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead5"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix" th:if="${#lists.contains(permissions,'viewScene')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">场景列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renameScene')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">灯重命名</label>
                                                    </div>
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'deleteScene')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">灯删除</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead6"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead6"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list clearfix" th:if="${#lists.contains(permissions,'viewTime')}">
                                            <div class="f-l list-title">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">定时列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'renameTime')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">定时重命名</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead7"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead7"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--用户管理-->
                                    <div class="tab-content-part" tabContent="1">
                                        <div class="list clearfix one" th:if="${#lists.contains(permissions,'viewUser')}">
                                            <div class="f-l list-title" style="line-height: calc(49px * 3);">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">用户列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'moveUser')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">账号移交</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'updateUser')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">账号状态编辑</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'replaceUser')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">重置账号密码</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'deleteUser')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">账号删除</label>
                                                    </div>
                                                    <div class="f-l" style="width: 100%;">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">创建账号（创建账号时的角色选择）</label>
                                                    </div>
                                                    <div class="f-l clearfix create-account">
                                                        <div class="f-l" th:each="user:${users}">
                                                            <input type="checkbox" class="singleListChecked"
                                                                   class="admin-role">
                                                            <label for="" th:text="${user.role_descr}">管理员</label>
                                                        </div>
                                                        <!--<div class="f-l">-->
                                                            <!--<input type="checkbox" class="singleListChecked">-->
                                                            <!--<label for="">乙方管理员</label>-->
                                                        <!--</div>-->
                                                        <!--<div class="f-l">-->
                                                            <!--<input type="checkbox" class="singleListChecked builders">-->
                                                            <!--<label for="">施工人员</label>-->
                                                        <!--</div>-->
                                                    </div>

                                                </div>
                                                <div class="f-r clearfix " style="line-height: calc(49px * 3);">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead8"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead8"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--角色管理-->
                                    <div class="tab-content-part " tabContent="2">
                                        <div class="list clearfix one" th:if="${#lists.contains(permissions,'viewRole')}">
                                            <div class="f-l list-title" style="line-height: calc(49px * 3);">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">角色列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l zero" th:if="${#lists.contains(permissions,'createRole')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">创建角色</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'deleteRole')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">角色删除</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'renameRole')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">角色重命名</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'updateRolePermission')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">修改角色权限</label>
                                                    </div>
                                                    <div class="f-l" style="width: 100%;">
                                                        <input type="checkbox" class="singleListChecked lookRole">
                                                        <label for="">查看角色权限（可查看的角色）</label>
                                                    </div>
                                                    <div class="f-l clearfix create-account">
                                                        <div class="f-l" th:each="rolePermission:${rolePermissions}">
                                                            <input type="checkbox" class="singleListChecked admin-role">
                                                            <label for="" th:text="${rolePermission.role_descr}">管理员</label>
                                                        </div>
                                                        <!--<div class="f-l">-->
                                                            <!--<input type="checkbox"-->
                                                                   <!--class="singleListChecked yi-admin-role">-->
                                                            <!--<label for="">乙方管理员</label>-->
                                                        <!--</div>-->
                                                        <!--<div class="f-l">-->
                                                            <!--<input type="checkbox" class="singleListChecked builders">-->
                                                            <!--<label for="">施工人员</label>-->
                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix " style="line-height: calc(49px * 3);">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead9"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead9"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--合作管理-->
                                    <div class="tab-content-part" tabContent="3">
                                        <div class="list clearfix one" th:if="${#lists.contains(permissions,'viewCooperation')}">
                                            <div class="f-l list-title" style="line-height: calc(49px * 2);">
                                                <div>
                                                    <input type="checkbox" class="singleChecked allListChecked">
                                                    <label for="">合作列表</label>
                                                </div>
                                            </div>
                                            <div class="f-l  clearfix list-content">
                                                <div class=" f-l clearfix one">
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'createCooperation')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">新增合作</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'updateCooperation')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">合作信息编辑</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'deleteCooperation')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">合作删除</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'updateCooperationState')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">合作状态变更</label>
                                                    </div>
                                                    <div class="f-l" th:if="${#lists.contains(permissions,'CooperationMemo')}">
                                                        <input type="checkbox" class="singleListChecked">
                                                        <label for="">合作备忘录</label>
                                                    </div>
                                                </div>
                                                <div class="f-r clearfix " style="line-height: calc(49px * 2);">
                                                    <div class="f-l">
                                                        <input type="radio" value="0" name="isRead10"
                                                               class="singleIsRadio">
                                                        <label for="">查看数据</label>
                                                    </div>
                                                    <div class="f-l">
                                                        <input type="radio" value="1" name="isRead10"
                                                               class="singleNoRadio">
                                                        <label for="">不可查看数据</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="tab-content-part" tabContent="4">-->
                                        <!--<div class="list clearfix one">-->
                                            <!--<div class="f-l list-title">-->
                                                <!--<div>-->
                                                    <!--<input type="checkbox" class="singleChecked allListChecked">-->
                                                    <!--<label for="">合作列表</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="f-l  clearfix list-content">-->
                                                <!--<div class=" f-l clearfix one">-->
                                                    <!--<div class="f-l">-->
                                                        <!--<input type="checkbox" class="singleListChecked">-->
                                                        <!--<label for="">新增合作</label>-->
                                                    <!--</div>-->
                                                    <!--<div class="f-l">-->
                                                        <!--<input type="checkbox" class="singleListChecked">-->
                                                        <!--<label for="">合作信息编辑</label>-->
                                                    <!--</div>-->
                                                    <!--<div class="f-l">-->
                                                        <!--<input type="checkbox" class="singleListChecked">-->
                                                        <!--<label for="">合作删除</label>-->
                                                    <!--</div>-->
                                                    <!--<div class="f-l">-->
                                                        <!--<input type="checkbox" class="singleListChecked">-->
                                                        <!--<label for="">合作状态变更</label>-->
                                                    <!--</div>-->
                                                    <!--<div class="f-l">-->
                                                        <!--<input type="checkbox" class="singleListChecked">-->
                                                        <!--<label for="">合作备忘录</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="f-r clearfix " style="line-height: 96px;">-->
                                                    <!--<div class="f-r">-->
                                                        <!--<input type="radio" value="0" name="isRead11" checked-->
                                                               <!--class="singleIsRadio">-->
                                                        <!--<label for="">可读</label>-->
                                                    <!--</div>-->
                                                    <!--<div class="f-r">-->
                                                        <!--<input type="radio" value="1" name="isRead11"-->
                                                               <!--class="singleNoRadio">-->
                                                        <!--<label for="">不可读</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="alter">
                                <button type="button">保存修改</button>
                            </div>
                            <input type="hidden" th:value="${rolePermissionList}" id="rolePermissionList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/left.js}"></script>
<script th:src="@{/static/js/role.js}"></script>
<script th:src="@{/static/js/moment.js}"></script>
<script th:src="@{/static/js/roleDetail.js}"></script>
</body>
</html>