<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>角色列表</title>
    <script src="/alink-hq/static/js/browser.js"></script>
    <script src="/alink-hq/static/js/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/laydate.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/leftNav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/projectManage.css}"/>
</head>
<body>
<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('roleList')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title font">角色列表</div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                </div>
            </div>

            <div id="roleList" class="">
                <form class="clearfix">
                    <div class="search-condition  clearfix">
                        <div class="f-l search" style="margin-right:125px;margin-left: 100px;">
                            <div>
                                <label for="roleName" class="font">角色名称</label>
                                <input type="text" id="roleName" name="roleName" placeholder="请输入角色名称">
                            </div>
                        </div>
                        <div class="f-r search search-button " style="padding-top: 0">
                            <button type="button" class="pointer">查询</button>
                        </div>
                    </div>
                    <div class="search-result">
                        <!-- 有数据时 -->
                        <table border="1" class="hasData active" th:if="${pageInfo!=null}">
                            <thead>
                            <tr>
                                <th><span>角色名称</span></th>
                                <th><span>使用该角色账号数量</span></th>
                                <th><span>创建时间</span></th>
                                <th><span>更新时间</span></th>
                                <th class="operation"><span>操作</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="role:${pageInfo.list}">
                                <input type="hidden" th:value="${role.id}">
                                <td class="k-link"><a th:href="@{/rolePer/detail(rid=${role.id})}" th:text="${role.roleName}"></a></td>
                                <td class="k-link" th:text="${role.accountNum}"></td>
                                <td th:text="${role.createTime}"></td>
                                <td th:text="${role.updateTime}"></td>
                                <td class="p-r" >
                                    <!--重命名-->
                                    <img th:src="@{/static/img/edit.png}" alt="" class="pointer reset-name "
                                         th:title="重命名">
                                    <!--编辑-->
                                    <img th:src="@{/static/img/alter.png}" alt="" class="pointer left-img"
                                         th:title="编辑">
                                    <!--删除-->
                                    <img th:if="${role.accountNum==0}" th:src="@{/static/img/delete.png}" alt="" class="pointer delete-role left-img"
                                         th:title="删除">
                                    <!--不能删除-->
                                    <img th:if="${role.accountNum!=0}" th:src="@{/static/img/un-delete.png}" alt="" class="pointer  left-img  unclick"
                                         th:title="无法操作">
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="9" class="clearfix page">
                                    <!--<div th:replace="common/page::page"></div>-->
                                    <div class="f-r page-right">
                                    <span>
                                        <span class="prev active" id="prev"><span><</span></span>
                                    </span>
                                        <span th:text="${pageInfo.pageNum}" id="pageNum" style="width: 20px"></span>
                                    <span>
                                          <span class="next" id="next"><span>></span></span>
                                    </span>
                                    <span class="m-l-15 m-r-20">共<span class="amount" id="pages" th:text="${pageInfo.pages}"></span>页/
                                         <span class="amount  pageTotal" th:text="${pageInfo.total}"></span>条数据</span>
                                    <span class="m-r-15">
                                         <input type="number"  id="page" name="pageNum" th:max="${pageInfo.pages}"
                                                style="height: 22px;"/>
                                    </span>
                                    <span class="m-r-35">
                                        <div id="skip" class="pointer moment skipPageBtn"
                                             onmousedown="skipBtnMouseDown()" onmouseup="skipBtnMouseUp()">跳转
                                        </div>
                                    </span>
                                        <span class="m-r-15r">每页显示：</span>
                                    <span class="m-r-20">
                                        <select id="size" name="pageSize">
                                            <option value="10" selected="selected">10</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                         <!--无数据时-->
                        <table th:if="${pageInfo==null}" border="1" class="noData active">
                            <thead>
                            <tr>
                                <th>角色名称</th>
                                <th>使用该角色账号数量</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="6">
                                    <img th:src="@{/static/img/no-data.png}" alt="">
                                    <p>暂无数据</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 重命名弹框 -->
<div class="confirm-on-off pop-iframe  " openContent="reset-name">
    <div class="confirm-on-off-nav p-r pop-nav">
        重命名
    </div>
    <div class="pop-content">
        <div class="newName">
            <p class="rename-hint"></p>
            <label for="rename">新名称</label>
            <input type="text" placeholder="请输入（2-6位汉字、字母、数字）" id="rename" onkeyup="nameKeyUp()" maxlength="16"/>
        </div>
        <div class="pop-btn">
            <button class="reduce">取消</button>
            <button class="yes">确定</button>
        </div>
    </div>
</div>
<!-- 删除账户 -->
<div class="pop-iframe" openContent="delete-role">
    <div class=" p-r pop-nav">
        温馨提示
    </div>
    <div class="pop-content">
        <div class="reset-pwd">您确定要删除角色吗？</div>
        <div class="pop-btn">
            <button class="reduce">取消</button>
            <button class="yes">确定</button>
        </div>
    </div>
</div>
<div class="hide-iframe "></div>
<script type="text/javascript" th:src="@{/static/js/left.js}"></script>
<script type="text/javascript" th:src="@{/static/js/role.js}"></script>
<script th:src="@{/static/js/moment.js}"></script>
</body>
</html>