<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/leftNav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/loding.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/projectManage.css}"/>
    <title>产品内容编辑</title>
</head>
<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('product')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">
                    <nav class="bread">
                        <ol class="clearfix">
                            <li class="f-l"><a th:href="@{/product/list}">产品列表</a></li>
                            <li class="f-l">产品内容编辑</li>
                        </ol>
                    </nav>
                </div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                </div>
            </div>
            <form  class="" method="post">
                <div class="table-content-list detail transfer">
                    <div class="p-detail">
                        <div class="p-nav">
                            产品内容编辑
                        </div>
                        <div class="p-content addProduct">
                            <fieldset>
                                <div class="form-row">
                                    <div class="field-label">
                                        <label><span>*</span>产品名称</label>：
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="p-a verify"></p>
                                        <input type="text" name="productName" id="productName"  placeholder="请输入产品名称"
                                               th:value="${product.product_category}">
                                        <input type="hidden" th:value="${product.id}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label ">
                                        <label>产品型号</label>：
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="p-a verify"></p>
                                        <input type="text" name="productType" id="productType"  placeholder="请输入产品型号"
                                               th:value="${product.type}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label ">
                                        <label><span>*</span>代码号(产品ID)</label>：
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="p-a verify"></p>
                                        <input type="text" name="productId" id="productId"
                                               placeholder="请输入代码号（产品 ID）" th:value="${product.product_id}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label ">
                                        <label><span>*</span>隶属公司</label>：
                                    </div>
                                    <div class="field-widget p-r">
                                        <input type="hidden" th:value="${product.coname}" id="coname">
                                        <p class="p-a verify"></p>
                                        <select name="belongCompany" id="belongCompany">
                                            <option value="">请选择隶属公司</option>
                                            <option th:each="firm:${firms}" th:value="${firm.id}"
                                                    th:text="${firm.coname}"
                                                    th:selected="${firm.coname}==${product.coname}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label ">
                                        <label>关键固件</label>：
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="p-a verify"></p>
                                        <div name="keyFirmware" id="keyFirmware">
                                            <div class="clearfix firmware-list keyFirmware " >
                                                <div class="f-l" th:each="ota:${otas}">
                                                    <input class="" name="firmware" type="radio" value="1" th:checked="${ota.ota_name}==${product.ota_name}">
                                                    <label class="radio" th:text="${ota.ota_name}" th:title="${ota.ota_name}"></label>
                                                    <input type="hidden" th:value="${ota.id}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label">
                                        <label >产品说明</label>：
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="p-a verify"></p>
                                        <textarea id="productExplain" name="productExplain" placeholder="请输入产品说明"
                                                  th:text="${product.description}"></textarea>
                                    </div>
                                </div>
                                <div class="form-row submit">
                                    <button type="button">保存</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 导出 -->
<div th:replace="pop/loading::loading"></div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/left.js}"></script>
<script th:src="@{/static/js/moment.js}"></script>
<script th:src="@{/static/js/editProduct.js}"></script>
</body>
</html>