<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css">
    <link rel="stylesheet" href="/alink-hq/static/css/common.css">
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css">
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css">
    <script src="/alink-hq/static/js/jquery.min.js"></script>
    <script src="/alink-hq/static/js/upload.js"></script>
    <title>公司信息详情</title>
</head>

<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('cooperateInfo')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">公司信息详情</div>
                <!-- <div class="f-r pointer">
                    <img src="./img/create-project.png" alt="">
                </div> -->
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back();" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" alt="" onclick="history.back()">-->
                </div>
            </div>
            <div id="timerDetail" class="table-content-list">
                <div class="p-detail">
                    <div class="p-nav">公司信息详情</div>
                    <div class="p-content p-r">
                        <form th:action="@{/cooperate/edit}" class="company-msg" method="post"
                              enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${info.id}">
                            <div class="edit-company" th:switch="${info.status}">
                                <label for="company-name">当前状态：</label>
                                <input th:case="1" type="text" id="company-status" name="status" placeholder="合作" disabled>
                                <input th:case="0" type="text" id="company-status" name="status" placeholder="终止" disabled>
                            </div>
                            <div class="edit-company">
                                <label for="company-name">公司名称：</label>
                                <input type="text" id="company-name" name="coname" placeholder="请填写公司名称"
                                       th:value="${info.coname}">
                            </div>
                            <div class="edit-company">
                                <label for="company-phone">公司电话：</label>
                                <input type="text" id="company-phone" name="mobile" placeholder="请填写公司电话"
                                       th:value="${info.mobile}">
                            </div>
                            <div class="edit-company">
                                <label for="address">通讯地址：</label>
                                <input type="text" id="address" name="address" placeholder="请填写通讯地址"
                                       th:value="${info.address}">
                            </div>
                            <div class="edit-company clearfix">
                                <label for="drop_area" style="vertical-align: top;">营业执照：</label>
                                <div style="display: none">
                                    <input type="file" id="file" name="file">
                                </div>
                                <div id="drop_area">
                                    <div id="preview" th:switch="${info.photo}" class="p-r">
                                        <img th:case="null" src="/alink-hq/static/img/upload.png" class="img-responsive"
                                             style="width: 100%;height:100%;" alt="" title="">
                                        <!--<img th:case="*" th:src="@{'http://iotsztp.com/file/imgs/'+${info.photo}}" class="img-responsive" style="width: 100%;height:100%;" alt="" title="">-->
                                        <img th:case="*" th:src="@{'http://uichange.com/file/imgs/'+${info.photo}}" class="img-responsive" style="width: 100%;height:100%;" alt="" title="">
                                        <!--<img th:case="*" th:src="@{'../static/upload/'+${info.photo}}" class="img-responsive" style="width: 100%;height:100%;" alt="" title="">-->
                                        <!--<img src="http://iotsztp.com/file/imgs/chat_qrcode.jpg" style="width: 100%">-->
                                        <!--<img th:src="@{'../static/upload/'+${info.photo}}" style="width: 100%" th:alt="${info.photo}">-->
                                    </div>
                                    <div id="delete-img" class="active"
                                         style="line-height: 20px;z-index: 999;background: rgba(0,0,0,.4);color: #fff;position: absolute;top: 0;right: 0;height: 25px;width: 30px;border-bottom-left-radius: 92%;text-align: center;font-size: 20px;">
                                        ×
                                    </div>
                                </div>
                            </div>
                            <div class="edit-company">
                                <label for="serial">营业执照编号：</label>
                                <input type="text" id="serial" name="code" placeholder="请填写营业执照编号"
                                       th:value="${info.code}">
                            </div>
                            <div class="btn-submit">
                                <button shiro:hasAnyRoles="super,admin" type="submit">修改</button>
                                <!--<button shiro:hasAnyRoles="manager,user" type="submit" disabled="disabled">提交</button>-->
                            </div>
                        </form>
                        <div class="img-max p-a">
                            <img src="" alt="" id="img-max">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/alink-hq/static/js/left.js"></script>
<script src="/alink-hq/static/js/moment.js"></script>
<script>
    $(function () {
        var dragImgUpload = new DragImgUpload("#drop_area", {
            callback: function (files) {
                //回调函数，可以传递给后台等等
                var file = files[0];
                console.log(file.name);
            }
        });
        $('#drop_area').on({
            mouseover: function () {
                var imgUrl = $(this).find('img')[0].src;
                $('#img-max').attr('src', imgUrl);
            },
            mouseout: function () {
                var imgUrl = $(this).find('img')[0].src;
                $('#img-max').attr('src', '');
            }
        });
        dragImgUpload.resetImage();
    })
</script>
</body>
</html>