<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/account.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/loding.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <title>修改手机号</title>
    <style>
        input[type="text"] {
            background: white
        }
    </style>
</head>

<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('createAccount')"></div>
        <div class="main-right f-r">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">修改手机号</div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);">
                        <!--<span class="triangle-facing-left"></span>-->
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" alt="" id="clickReturn">-->
                </div>
            </div>
            <div id="bindPhone">
                <div class="b-bindPhone">
                    <div class="b-nav">
                        修改手机号
                    </div>
                    <div class="b-content ">
                        <form id="mobileForm" action="#" onsubmit="return false" method="post">
                            <div style="margin-bottom:10px;">
                                <p class="phone-hint" style="height: 35px;"></p>
                                <label for="">手机号：</label>
                                <input type="text" placeholder="请输入手机号" id="phone" name="mobile"/>
                            </div>
                            <div class="verification-code">
                                <p class="code-hint" style="height: 35px;"></p>
                                <label for="">验证码：</label>
                                <input type="text" placeholder="请输入验证码" id="code" name="code"/>
                                <button type="button" class="security-code" id="codeSubmit">获取验证码</button>
                            </div>
                            <input type="hidden" th:value="${account}" name="account" id="account_hidden"
                                   class="account"/>
                            <input type="hidden" th:value="${flag}" id="flag" name="flag"/>
                            <div class="submit-btn">
                                <button type="submit" id="fillSubmit">立即修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="preload-anim">
    <!-- <div style="margin: 20px auto; text-align: center; margin-bottom: 0px;">
      <a href="http://www.100sucai.com/" target="_blank"><img src="100sucai.png" alt=""></a>
    </div> -->
    <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
    </div>
    <p class="title"></p>
</div>
<!--<script src="/alink-hq/static/js/jquery.min.js"></script>-->
<script src="/alink-hq/static/myAccount/js/jquery-3.3.1.min.js"></script>
<script src="/alink-hq/static/myAccount/js/common.js"></script>
<script src="/alink-hq/static/myAccount/js/mobile.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/left.js"></script>
<script>
    //    $('.on-off-triangle').click(function () {
    //        var imgUrl = $(this).attr('src');
    //        if (imgUrl == '/alink-hq/static/img/bottom-triangle-un.png') {
    //            $(this).attr('src', '/alink-hq/static/img/right-triange-un.png');
    //            $(this).parent().parent('.one-list').find('.two-list').addClass('active');
    //        } else {
    //            $(this).attr('src', '/alink-hq/static/img/bottom-triangle-un.png');
    //            $(this).parent().parent('.one-list').find('.two-list').removeClass('active');
    //        }
    //    })
    //    $(function(){
    //        var height=$(document).height();
    //        $('.main-left').css('height',height);
    //    })
    // 验证手机号
    //        function vPhone() {
    //            var phoneVal = $('#phone').val();
    //            var codeVal = $('#code').val();
    //            var phone = /^[1][3,4,5,7,8,9][0-9]{9}$/;
    //            var phoneResult = phone.test(phoneVal);
    //            if (phoneVal == '') {
    //                $('p.phone-hint').addClass('active').text('请输入手机号');
    //                return false;
    //            } else if (!phoneResult) {
    //                $('p.phone-hint').removeClass('active').text('');
    //                $('p.phone-hint').addClass('active').text('手机号格式不正确');
    //                return false;
    //            } else if (codeVal == '') {
    //                $('p.phone-hint').removeClass('active').text('');
    //                $('p.code-hint').addClass('active').text('请输入验证码');
    //                return false;
    //            } else {
    //                $('p.code-hint').removeClass('active').text('');
    //                var title = "手机";
    //                var content = "修改";
    //                parent.loding(title, content);
    //            }
    //        }

    //验证码倒计时
    $(function () {
//            $('.security-code').click(function () {
//                $(this).addClass('active');
//                settime(this);
//            })
//            var countdown = 60;
//
//            function settime(obj) {
//                if (countdown == 0) {
//                    obj.removeAttribute("disabled");
//                    obj.innerHTML = "获取验证码";
//                    countdown = 60;
//                    return;
//                } else {
//                    obj.setAttribute("disabled", true);
//                    obj.style.background = "#A0A0A0";
//                    obj.style.borderColor = "#A0A0A0";
//                    obj.innerHTML = "已发送(" + countdown + ')';
//                    countdown--;
//                }
//                setTimeout(function () {
//                    settime(obj)
//                }, 1000)
//            }

        var alertText = "修改绑定成功！";
        //点击立即绑定
        $("#fillSubmit").bind("click", {alertText: alertText}, clickFillSubmit);
    })
</script>
</body>

</html>