#account .a-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
}
#account .m-account{
    height: 842px;
    margin: 30px 0;
    border: 1px solid #bbb;
}
#account .a-content{
    padding: 10px 30px;
    font-size: 16px;
    color: #4a4a4a;
}
#account .a-content>ul{
    height: 100px;
    border-bottom: 1px solid #dbdbdb;
    white-space: nowrap;
    font-size: 14px;
    color: #4a4a4a;
}
#account .a-content>ul>li{
    width: 240px;
    height: 100%;
    line-height: 100px;
}
#account .a-content>ul>li img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
#account .a-content>ul>li i{
    width: 5px;
    height: 5px;
    margin-bottom: 5px;
}
/*#account .a-content>div:nth-child(3),#account .a-content>div:nth-child(4){*/
/*padding: 29px 0;*/
/*}*/

#account .icon{
    padding-left: 30px;
    /*padding: 0 100px 0 30px;*/
    /*display: inline-block;*/
    /*width: 60px;*/
    /*text-align: center;*/
}
#account .a-content>ul>li:nth-child(5){
    position: relative;
    width:400px;
}
#account .a-content>ul>li:nth-child(5)>ul{
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
#account .a-content>ul>li:nth-child(5)>ul>li{
    line-height: 2;
    color: #888;
    font-size: 12px;
    list-style-type: disc;
}
#account .title{
    text-align: left;
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
    /*width: 65px;*/
    /*margin-right: 100px;*/
}
/*#account .a-content>div>span:nth-child(3){*/
/*width: 300px;*/
/*display: inline-block;*/
/*}*/
/*#account .a-content>div>span:nth-child(4){*/
/*width: 200px;*/
/*}*/
/*#account .a-content>div>span {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*color: #4a4a4a;*/
/*!* transform: scale(1,.95); *!*/
/*font-size: 14px;*/
/*}*/
/*#account .a-content>div>span a{*/
/*font-size: 14px;*/
/*}*/
/*#account .a-content>div>span ul {*/
/*display: inline-block;*/
/*list-style:disc;*/
/*}*/

/*#account .a-content>div>span a:hover{*/
/*color: #003e68;*/
/*border-bottom: 1px solid #003e68;*/
/*}*/
/*#account .a-content>div>span ul li{*/
/*font-size: 13px;*/
/*color: #888;*/
/*list-style-type: disc;*/
/*!* line-height: 1; *!*/
/*margin: 10px 0;*/
/*}*/
/*#account .a-content>div>span:first-child{*/
/*box-sizing: content-box;*/
/*}*/
i.dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff5200;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
}
i.dot-no{
    display: inline-block;
    width: 5px;
    height: 5px;
    /*margin-right: 10px;*/
}
#changePassword .c-nav,#bindPhone .b-nav,#fillUsername .f-nav,#bindEmail .b-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
    background-color: #fafafa;
}
#changePassword .c-changePwd,#bindPhone .b-bindPhone,#fillUsername .f-fillUsername,#bindEmail .b-bindEmail{
    height: 842px;
    margin: 30px 0;
    border: 1px solid #bbb;
}
#changePassword form,#bindPhone form,#fillUsername form,#bindEmail form{
    margin: 100px auto;
    font-size: 16px;
    color: #3c3c3c;
    width: 600px;
}

p.phone-hint,p.email-hint,p.pwd-hint,p.use-hint,p.inconsistent-hint,p.code-hint,p.use-hint2{
    font-size: 15px;
    color: red;
    padding-left: 106px;
    line-height: 2;
    /* display: none; */
    visibility: hidden;
}
p.phone-hint.active,p.use-hint2.active,p.email-hint.active,p.pwd-hint.active,p.use-hint.active,p.inconsistent-hint.active,p.code-hint.active{
    /* display: block; */
    visibility:visible;
}

#changePassword form input,#bindPhone form input,#fillUsername form input,#bindEmail form input{
    height: 35px;
    width: 330px;
    border-radius: 5px;
    border: 1px solid #bbb;
    font-size: 14px;
    text-indent: 10px;
}
#changePassword form label,#bindPhone form label,#fillUsername form label,#bindEmail form label{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 20px;
}

#changePassword form button,#bindPhone form button,#fillUsername form button,#bindEmail form button{
    height: 38px;
    font-size: 17px;
    padding: 0 20px;
    background-color: #3598db;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #3598db;
    margin-top: 70px;
    cursor: pointer;
}
#changePassword .submit-btn,#bindPhone .submit-btn,#fillUsername .submit-btn,#bindEmail .submit-btn{
    text-align: center;
}
#bindPhone .verification-code input,#bindEmail .verification-code input{
    width: 192px;
}
#bindPhone .verification-code button,#bindEmail .verification-code button{
    width: 115px;
    font-size: 16px;
    padding: 0;
    margin: 0px 0 2px 18px;
    vertical-align: middle;
}
#bindEmail,#account,#bindPhone,#changePassword,#fillUsername{
    background-color: #fff;
}
#account .icon img{
    width:26px;
    height: 26px;
}
.account-list>.f-l{
    width: 20%;
    height: 80px;
    line-height: 80px;
    font-size: 15px;
    color: #555;
}
.account-list{
    border-bottom: 1px solid #ccc;
}
.account-list>.f-l a{
    font-size: 15px;
}
.account-list>.f-l:first-child{
    padding-left: 30px;
}

.account-ul{
    margin: 0 80px;
}
.account-list img{
    vertical-align: middle;
    width: 23px;
    height: 23px;
}