#account .a-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
}
#account .m-account{
    height: 842px;
    margin: 30px 0;
    border: 1px solid #bbb;
}
#account .a-content{
    padding: 10px 30px;
    font-size: 16px;
    color: #3c3c3c;
}
#account .a-content>div{
    padding: 40px 0;
    border-bottom: 1px solid #bbb;
    white-space: nowrap;
}
#account .a-content>div:nth-child(3),#account .a-content>div:nth-child(4){
    padding: 29px 0;
}
#account .icon{
    padding: 0 50px;
    display: inline-block;
   width: 60px;
}
#account .title{
    display: inline-block;
    width: 65px;
    margin-right: 100px;
}
#account .a-content>div>span:nth-child(3){
    width: 300px;
    display: inline-block;
}
#account .a-content>div>span:nth-child(4){
    width: 200px;
}
#account .a-content>div>span {
    display: inline-block;
    vertical-align: middle;
    transform: scale(1,.95);
}
#account .a-content>div>span ul {
    display: inline-block;
    list-style:disc;
}
#account .a-content>div>span a{
    color: #3598db;
}
#account .a-content>div>span a:hover{
    color: #003e68;
    border-bottom: 1px solid #003e68;
}
#account .a-content>div>span ul li{
    font-size: 14px;
    color: #666;
    list-style-type: disc;
    /* line-height: 1; */
    margin: 10px 0;
    transform: scale(1,.95);
}
i.dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
    margin-bottom: 10px;
}
i.dot-no{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
}
#changePassword .c-nav,#bindPhone .b-nav,#fillUsername .f-nav,#bindEmail .b-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
    background-color: #fafafa;
}
#changePassword .c-changePwd,#bindPhone .b-bindPhone,#fillUsername .f-fillUsername,#bindEmail .b-bindEmail{
    height: 842px;
    margin: 30px 0;
    border: 1px solid #bbb;
}
#changePassword form,#bindPhone form,#fillUsername form,#bindEmail form{
    margin: 100px auto;
    font-size: 16px;
    color: #3c3c3c;
    width: 600px;
}

p.phone-hint,p.email-hint,p.pwd-hint,p.use-hint,p.inconsistent-hint,p.code-hint,p.use-hint2{
    font-size: 15px;
    color: red;
    padding-left: 106px;
    line-height: 2;
    /* display: none; */
    visibility: hidden;
}
p.phone-hint.active,p.use-hint2.active,p.email-hint.active,p.pwd-hint.active,p.use-hint.active,p.inconsistent-hint.active,p.code-hint.active{
    /* display: block; */
    visibility:visible;
}

#changePassword form input,#bindPhone form input,#fillUsername form input,#bindEmail form input{
    height: 35px;
    width: 330px;
    border-radius: 5px;
    border: 1px solid #bbb;
    font-size: 14px;
    text-indent: 10px;
}
#changePassword form label,#bindPhone form label,#fillUsername form label,#bindEmail form label{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 20px;
}
#changePassword form>div,#bindPhone form>div,#fillUsername form>div,#bindEmail form>div{
    /* margin-bottom: 35px; */
}
#changePassword form button,#bindPhone form button,#fillUsername form button,#bindEmail form button{
    height: 38px;
    font-size: 17px;
    padding: 0 20px;
    background-color: #3598db;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #3598db;
    margin-top: 70px;
    cursor: pointer;
}
#changePassword .submit-btn,#bindPhone .submit-btn,#fillUsername .submit-btn,#bindEmail .submit-btn{
    text-align: center;
}
#bindPhone .verification-code input,#bindEmail .verification-code input{
    width: 192px;
}
#bindPhone .verification-code button,#bindEmail .verification-code button{
    width: 115px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin: 0px 0 2px 18px;
    vertical-align: middle;
}
#bindEmail,#account,#bindPhone,#changePassword,#fillUsername{
    background-color: #fff;
}