html, body, div, span, object, iframe,h1, h2,
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn,
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody,
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary,time, mark,
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    /*font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;*/
    /*font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;*/
    font-size: 100%;
    vertical-align:baseline;
    /* background:transparent;*/
    outline-style:none;/*FF*/

}
table{
    border-spacing: 0;
    border-collapse: unset;
}
body {
    line-height:1;
    zoom: 1;
    background: #eef2f5;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 14px;

}
/*select {*/
    /*!*Chrome和Firefox里面的边框是不一样的，所以复写了一下*!*/
    /*border: solid 1px #000;*/

    /*!*很关键：将默认的select选择框样式清除*!*/
    /*appearance:none;*/
    /*-moz-appearance:none;*/
    /*-webkit-appearance:none;*/

    /*!*在选择框的最右侧中间显示小箭头图片*!*/
    /*background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;*/


    /*!*为下拉小箭头留出一点位置，避免被文字覆盖*!*/
    /*padding-right: 14px;*/
/*}*/


/*!*清除ie的默认选择框样式清除，隐藏下拉箭头*!*/
/*select::-ms-expand { display: none; }*/
a{
    text-decoration:none;
}
a{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;

}
a:hover,a:focus{
    text-decoration:none;
    outline-style:none;/*FF*/
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.clearfix::after{
    display: block;
    content: '';
    height: 0;
    clear: both;
    visibility: hidden;
}
ul li{
    list-style-type:none;
}
.clearfix{
    zoom: 1;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.right-triangle{
    width:0;
    height: 0;
    display: block;
    border:10px solid #eef2f5;
}
.pointer{
    cursor: pointer;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-35{
    margin-right: 35px;
}
.m-l-20{
    margin-left: 20px;
}
.m-l-15{
    margin-left:15px;
}
.m-l-35{
    margin-left: 35px;
}
.ui-widget-header{
    background: #fff;
}
.a-center{
    text-align: center;
}
.p-f{
    position: fixed;
}
.overflow{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.unclick{
    cursor: not-allowed;
    /*pointer-events:none;*/
}
/*.font{*/
    /*!*transform: scale(.98,.95);*!*/
    /*!*display: inline-block;*!*/
/*}*/
.search-result table th span{
    display: inline-block;
    transform: scale(1,.95);
}
label{
    display: inline-block;
    transform: scale(1,.95);
}
button{
    transform: scale(1,.95);
}
.all-checkbox{
    width:120px;
}