
td {
    width: 160px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
}

a {
    text-decoration: none;
}

/*#login1 input {*/
/*width: 300px;*/
/*}*/

.myDisplay {
    display: none;
}

.title {
    width: 40%;
    height: 30px;
    margin: 10px auto;
    text-align: left;
    border-bottom: 1px solid grey;
}

.table {
    width: 60%;
    height: 30%;
    margin: 10px auto;
}
.table li{
    float: left;
    margin-right: 10px;
}
.title li {
    cursor: pointer;
}

.high {
    color: red;
}

.msg {
    font-size: 13px;
}

.onError {
    color: red;
}

.onSuccess {
    color: green;
}

.loginForm {
    width: 80%;
    margin: 10px auto;
    text-align: left;
}

.loginForm input {
    height: 30px;
}

.loginBtn {
    width: 300px;
    height: 30px;
    background: deepskyblue;
    color: white;
    border: 0
}

.codeBtn {
    width: 100px;
    height: 30px;
    background: deepskyblue;
    color: white;
    border: 0
}

.bottom {
    width: 120px;
    height: 30px;
    border-bottom: 2px solid dodgerblue;
    color: dodgerblue;
}