/*#login1 input {*/
/*width: 300px;*/
/*}*/

/*input[type='checkbox']{*/
    /*width: 15px;*/
    /*height: 16px;*/
    /*!*background-color: #ffffff;*!*/
    /*background-image: url("/alink-hq/static/img/checkbox-gou.png")no-repeat center;*/
    /*!*-webkit-appearance:none;*!*/
    /*!*border: 1px solid #c9c9c9;*!*/
    /*border-radius: 2px;*/
    /*outline: none;*/
/*}*/
.amount{
    color: red;
}
.myDisplay {
    display: none;
}

.title {
    width: 40%;
    height: 30px;
    margin: 10px auto;
    text-align: left;
    border-bottom: 1px solid grey;
}

.table {
    width: 60%;
    height: 30%;
    margin: 10px auto;
}

.high {
    color: red;
}

.msg {
    font-size: 13px;
}

.onError {
    color: red;
}

.onSuccess {
    color: green;
}

.loginForm {
    width: 80%;
    margin: 10px auto;
    text-align: left;
}

.loginBtn {
    width: 300px;
    height: 30px;
    background: deepskyblue;
    color: white;
    border: 0
}

.codeBtn {
    width: 100px;
    height: 30px;
    background: deepskyblue;
    color: white;
    border: 0
}

.bottom {
    width: 120px;
    height: 30px;
    border-bottom: 2px solid dodgerblue;
    color: dodgerblue;
}