
.nav-top {
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    color: #fff;
}

.nav-title {
    font-size: 32px;
    color: #fff;
    font-weight: 700
}

.ad-nav {
    margin-left: 40px
}

.container {
    width: 98%;
    margin: auto;
    background-color:#39B6EF;
}

.c-container {
    width: 100%;
    margin: auto
}

.one-list>div {
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
}

.one-list>div a {
    font-size: 17px
}

.all-container {
    background-color: #39B6EF;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all .3s ease-in-out;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1)
}

.main-left {
    background-color: #fff;
    left: 0;
    height: 100%;
    position: absolute;
    width: 260px;
}

.ad-nav img {
    width: 20px;
    position: absolute;
    margin-top: -16px;
    height: 20px
}

.ad-nav span {
    display: inline-block;

}

.ad-nav span.nav-img {
    position: relative;
    width: 20px;
    display: inline-block
}

.main-right {
    padding: 20px 0 0;
    min-width: 1510px;
    width: 96%;
    margin: 0 1% 0 30px;
    min-height: 760px;
}

.search-result table td.k-link .a-un {
    color: #383e4b
}

.search-result table td.k-link .a-un:focus,.search-result table td.k-link .a-un:hover {
    border: none;
    color: #383e4b
}

#projectDetail .p-content a.a-un {
    color: #383e4b
}

#projectDetail .p-content a.a-un:focus,#projectDetail .p-content a.a-un:hover {
    border: none;
    color: #383e4b
}

.main-left a {
    font-size: 15px;
    color: #13223F;
}

.one-list {
    margin-bottom: 10px
}

.one-list li {
    height: 42px;
    line-height: 42px;
    padding-left: 75px;
    cursor: pointer;
    font-size: 15px;
}
.hide-iframe{
    background-color: #333;
    opacity: 0.6;
    z-index: 999;
    position: absolute;
    /*display: none;*/
    top: 0;
}
.one-list li:hover {
    background-color: #EEF5F9;
}
.am-list>li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    border-width: 1px 0;
}
.admin-sidebar {
    width: 260px;
    min-height: 100%;
    float: left;
     border-right: 0;
}

.one-list.active .two-list {
    display: block;
    margin: 0;
}

.two-list {
    display: none
}

.one-list img {
    top: 45%;
    right: 25px;
    cursor: pointer
}

/*.main-right-nav {*/
    /*padding: 0 0 10px 20px;*/
    /*border-left: 4px solid #45B8FD;*/
    /*border-bottom: 2px solid #45B8FD;*/
    /*min-width: 1465px;*/
    /*margin-bottom: 30px;*/
/*}*/

.main-right-title {
    /*color: #555;*/
    /*height: 37px;*/
    /*line-height: 45px;*/
    /*font-size: 17px;*/
    /*display: inline-block;*/

    color: #13223F;
    /* height: 37px; */
    /* line-height: 45px; */
    font-size: 16px;
    display: inline;
    position: absolute;
    bottom: 25%;
}

.last-nav {
    margin-left: 15px
}

.one-list li.active {
    background-color: #EEF5F9;
}

.main-left a:focus,.main-left a:hover {
    border: none
}

.create {
    background-color: #45B8FD;
    color: #fff;
    border: 2px solid #45B8FD;
    height: 30px;
    width: unset;
    line-height: 27px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 0 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.create:hover {
    background-color: #36a9e1;
    border-color: #36a9e1;
    transition: all .2s ease-in-out
}

.goBack:hover {
    color: #36a9e1;
    border-color: #36a9e1;
    transition: all .2s ease-in-out
}

.goBack {
    border: 2px solid #45B8FD;
    color: #45B8FD;
    height: 31px;
    line-height: 26.5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    padding: 0 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.goBack.active {
    border-color: #0068ae;
    color: #0068ae
}

.create.active {
    border-color: #0068ae;
    background-color: #0068ae
}

.triangle-facing-left {
    display: inline-block;
    border-left: 3px solid;
    border-bottom: 3px solid;
    width: 10px;
    height: 10px;
    transform: rotate(45deg)
}

.create span,.goBack span {
    vertical-align: middle
}

.create span:nth-child(1),.goBack span:nth-child(1) {
    margin-right: 5px
}

.main {
    min-width: 1400px;
    padding-left: 250px;
    margin: auto;
    padding-top: 75px;
    position: relative;
}

.no-access {
    background-color: #bbb;
    border-color: #bbb;
    cursor: not-allowed;
    pointer-events: none
}

.nav-color {
    background-color: #f3f5f8
}

.one-list>div:hover {
 background-color: #EEF5F9;
}

.must {
    width: 280px;
    height: 800px
}

.main-left.scroll {
    left: 0
}

.must.scroll {
    width: 130px
}

.table-content-list:not('') {
    min-width: 1490px;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);*/
    /*background-color: #fff;*/
}
.table-content-list {
    min-width: 1500px;
}