/*.hide-iframe{*/
  /*background: #222;*/
  /*!* IE 8 *!*/

  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
  /*!* IE 5-7 *!*/

  /*filter: alpha(opacity=20);*/
  /*!* Netscape *!*/

  /*-moz-opacity: .2;*/
  /*!* Safari 1.x *!*/

  /*-khtml-opacity: .2;*/
  /*!* Good browsers *!*/

  /*opacity: .2;*/
  /*display: none;*/
  /*position: absolute;*/
  /*top: 0px;*/
  /*left: 0px;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*z-index: 999; !* 此处的图层要大于页面 *!*/
/*}*/
#preload-anim{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 12345;
  background: rgba(51, 51, 51,.5);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
#preload-anim p{
    position: relative;
    top: 47%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
 /*#preload-anim.active {*/
  /*opacity: 0;*/
  /*pointer-events: none;*/
/*}*/
.active.hide-iframe {
  display: block;
}
#circularG {
  position: relative;
  width: 128px;
  height: 128px;
  margin: auto;
  top: 40%;
}
.circularG {
  position: absolute;
  background-color: #ffffff;
  width: 29px;
  height: 29px;
  -moz-border-radius: 19px;
  -moz-animation-name: bounce_circularG;
  -moz-animation-duration: 1.04s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 19px;
  -webkit-animation-name: bounce_circularG;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 19px;
  -ms-animation-name: bounce_circularG;
  -ms-animation-duration: 1.04s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 19px;
  -o-animation-name: bounce_circularG;
  -o-animation-duration: 1.04s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 19px;
  animation-name: bounce_circularG;
  animation-duration: 1.04s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#circularG_1 {
  left: 0;
  top: 50px;
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
#circularG_2 {
  left: 14px;
  top: 14px;
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
}
#circularG_3 {
  top: 0;
  left: 50px;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
#circularG_4 {
  right: 14px;
  top: 14px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}
#circularG_5 {
  right: 0;
  top: 50px;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}
#circularG_6 {
  right: 14px;
  bottom: 14px;
  -webkit-animation-delay: 1.04s;
  animation-delay: 1.04s;
}
#circularG_7 {
  left: 50px;
  bottom: 0;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
#circularG_8 {
  left: 14px;
  bottom: 14px;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}
@keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
#preload-anim {
  display: none;
}

#preload-anim.active {
  display: block;
}