body,html {
    width: 100%;
    height: 100%;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    vertical-align: baseline;
    font-size: 14px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    color: #383e4b;
}

.container {
    margin: auto;
    width: 1500px;
    background-color: #2a87d1
}

.logo {
    padding: 60px 0 0 60px
}

.content {
    margin: 90pt 0 0 300px;
    width: 450px
}

.b-l {
    width: 40%
}

.b-r {
    width: 60%
}

::-webkit-input-placeholder {
    color: #999;
    font-size: 1pc
}

:-moz-placeholder {
    color: #999;
    font-size: 1pc
}

::moz-placeholder {
    color: #999;
    font-size: 1pc
}

:-ms-input-placeholder {
    color: #999;
    font-size: 1pc
}

.login-in-box {
    top: 20px;
    right: 20px;
    bottom: 30px;
    left: 20px;
    border-radius: 10px;
    background-color: hsla(0,0%,100%,.27);
    box-shadow: 2px 2px 2px rgba(0,0,0,.1),-1px 0 2px rgba(0,0,0,.05)
}

.login-in-box-tab {
    height: 19.8%;
    border-bottom: 1px solid #bbb;
    color: #fff;
    vertical-align: bottom;
    font-size: 21px
}

.login-in-box-tab>div {
    padding-top: 9.3%;
    width: 50%;
    height: 50%;
    text-align: center;
    white-space: nowrap;
    font-size: 22px
}

.content .login-in-box-l,.content .login-in-box-r {
    display: none;
    cursor: pointer
}

.content .login-in-box-l.visible,.content .login-in-box-r.visible {
    display: block
}

.content .login-in-box-l.active,.content .login-in-box-r.active {
    border-bottom: 4px solid #107bd0;
    color: #107bd0
}

.content .login-in-box-tab-content input {
    display: block;
    margin: 0;
    padding-left: 45px;
    width: calc(100% - 45px);
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    font-size: 15px;
    line-height: 44px;
    transition: .3s ease;
    zoom: 1
}

.content .login-in-box-tab-content button {
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #107bd0;
    border-radius: 5px;
    background-color: #107bd0;
    color: #fff;
    letter-spacing: 20px;
    font-size: 18px;
    cursor: pointer
}
.content .login-in-box-tab-content button:hover{
    border: 1px solid #1187CE;
    background-color: #1187CE
}
.content .login-in-box-tab-content button.active {
    border: 1px solid #1187CE;
    background-color: #1187CE
}

.icon {
    top: 7px;
    left: 10px
}

.content .hint {
    margin-top: 15px;
    height: 25px;
    color: #fff;
    cursor: pointer
}

.content .hint span:hover {
    border-bottom: 1px solid #0066b6;
    color: #0066b6
}

.content .hint span>span:hover {
    border-bottom: none
}

.login-in-box-foot {
    margin: auto;
    padding: 5pc 0 30px;
    width: 975pt;
    min-width: 700px
}

.login-in-box-foot .twoCode .part {
    width: 33.33%;
    white-space: nowrap;
    font-size: 15px
}

.login-in-box-foot .twoCode .part>.part-right {
    padding-left: 20px
}

.login-in-box-foot .twoCode .part>.part-right>div {
    line-height: 2
}

.login-in-box-foot .part-icon {
    height: 40px;
    line-height: 20px
}

.login-in-box-foot .part-icon.two {
    padding-left: 15px
}

.login-in-box-foot .part-icon img {
    width: 35px;
    height: 20px
}

.login-in-box-foot .link {
    text-align: center;
    font-size: 14px;
    line-height: 2
}

.login-in-box-foot .link span {
    margin: 5px
}

.login-in-box-foot .filing {
    text-align: center;
    font-size: 14px;
    line-height: 2
}

.content .login-in-box-tab-content button.security-code {
    position: absolute;
    top: 1px;
    display: inline-block;
    margin-left: 15px;
    padding: 0 10px;
    width: 95px;
    height: 46px;
    white-space: nowrap;
    letter-spacing: normal;
    font-size: 15px
}

.content .login-in-box-tab-content input.phone {
    display: inline-block;
    width: calc(100% - 156px)
}

.email-find-password,.password-login,.phone-find-password,.phone-login {
    display: none
}

.email-find-password.active,.password-login.active,.phone-find-password.active,.phone-login.active {
    display: block
}

.forget-password {
    cursor: pointer
}

p.add-hint,p.code-hint,p.password-hint {
    display: block
}

p.add-hint,p.code-hint,p.email-add-hint,p.email-code-hint,p.email-password-hint,p.mobile-add-hint,p.mobile-code-hint,p.mobile-password-hint,p.password-hint {
    color: #fb2a2a;
    text-align: left;
    font-size: 15px
}

p.add-hint.active,p.code-hint.active,p.page-hint.active,p.password-hint.active {
    display: block
}

.outer-container {
    background-color: #2a87d1;
    position: fixed;
    width: 100%;
    height: 100%;
}

.page-hint {
    color: #fb2a2a;
    text-align: center;
    font-size: 1pc
}

.dsp {
    display: block
}

.btn-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 97px
}

.login-in-box-tab-content form {
    position: relative;
    margin: 0 40px;
    height: 330px
}

.filing,.link,.twoCode {
    white-space: nowrap
}

.content .hint span {
    font-size: 1pc
}

#shade-lay.active {
    display: block
}

#shade-lay {
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
    opacity: .8;
    -moz-opacity: .8
}

#shade-lay,.pop-iframe {
    position: absolute;
    display: none
}

.pop-iframe {
    top: 200px;
    left: 33%;
    z-index: 1000;
    width: 750px;
    height: 360px;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 1px 1px 10px #333;
    text-align: center
}

.pop-iframe.active {
    display: block
}

.pop-l,.pop-r {
    padding: 20px 0;
    width: 49%
}

.pop-l {
    border-right: 1px solid #bbb
}

.pop-l>div:nth-child(1),.pop-r>div:nth-child(1) {
    color: #333;
    font-size: 19px;
    line-height: 1.5
}

.pop-l>div:nth-child(2),.pop-r>div:nth-child(2) {
    color: #999;
    font-size: 1pc;
    line-height: 1.5
}

.pop-l>div:nth-child(4),.pop-l>div:nth-child(5),.pop-r>div:nth-child(4),.pop-r>div:nth-child(5) {
    color: #3c3c3c;
    font-size: 1pc;
    line-height: 1.5
}

.pop-l>div:nth-child(3),.pop-r>div:nth-child(3) {
    margin: 15px 0
}

.pop-content .hint {
    margin: 90px auto;
    width: 25pc;
    text-align: left
}

.pop-content .hint span {
    bottom: 15px;
    left: 90px;
    color: #3c3c3c;
    font-size: 23px
}

.pop-content .c-btn button {
    right: 30px;
    width: 130px;
    height: 43px;
    border: 1px solid #3895db;
    border-radius: 5px;
    background-color: #3895db;
    color: #fff;
    font-size: 19px;
    cursor: pointer
}

.hide-iframe.active {
    display: block
}

.hide-iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: #000;
    opacity: .45;
    -moz-opacity: .45
}

.pop-nav {
    padding: 20px 22px;
    border-bottom: 1px solid #bbb;
    color: #3c3c3c;
    font-size: 22px
}

.pop-content {
    text-align: center
}

.share-l {
    width: 374px;
    height: 100%;
    border-right: 1px solid #bbb
}

.share-r {
    width: 375px;
    height: 100%
}

.pop-content img {
    margin: 10px 0;
    width: 115px
}

.share-accounts {
    margin-top: 15px;
    color: #3c3c3c;
    font-size: 18px
}

.share-hint {
    margin-top: 15px;
    color: #888;
    font-size: 1pc
}

.share-attention {
    margin-bottom: 19px;
    color: #3c3c3c;
    font-size: 14px
}