#createAccount .c-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
}
#createAccount .c-createAccount{
    height: 842px;
    margin: 30px 0;
    border: 1px solid #bbb;
}
#createAccount .c-content{
    padding: 10px 70px;
    font-size: 21px;
    color: #3c3c3c;
}
#createAccount form{
    width: 800px;
    margin: auto;
    font-size: 21px;
    color: #3c3c3c;
    margin-top: 100px;
}
#createAccount form>div{
    margin-bottom: 80px;
}
#createAccount form>div>label:first-child{
    width: 150px;
    text-align: right;
    display: inline-block;
    margin-right: 100px;
}
#createAccount form>div select,#createAccount form>div input[type='text']{
    height: 42px;
    border-radius: 5px;
    border: 1px solid #bbb;
   
}
#createAccount form>div select{
    width: 328px;
    font-size: 18px;
    color: #666;
}
#createAccount form>div input[type='text']{
    width: 62px;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    font-size: 21px;
    color: #3c3c3c;
    text-align: center;
}
.num{
    border: 1px solid #bbb;
    display: inline-block;
    border-radius: 5px;
}
.num>div{
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
#createAccount form>div button{
    height: 44px;
    width: 125px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
    border: 1px solid #3598db;
    background-color: #3598db;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 255px;
   
}
#createAccount form>div button:active{
    background-color: #0068ae;
}
#createAccount input[type="radio"]{
    display: none;

}

#createAccount .c-content img{
    margin-right: 30px;
    cursor: pointer;
}
#createAccount label.l-radio{
    margin-right: 50px;
}
.f-content{
    width: 1000px;
    /* height: auto; */
    margin: 50px auto;
    border: 1px solid #bbb;
    padding: 15px 30px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 15px;
    color: #3c3c3c;
}
#meshTurnOver{
    margin: 20px 0;
    border: 1px solid #bbb;
    background-color: #fff;
}
#meshTurnOver .f-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
    background-color: #fafafa;
}
#meshTurnOver .accountMsg{
    padding: 15px 0;
}
#meshTurnOver .accountMsg label{
    display: inline-block;
    width: 100px;

}
#meshTurnOver .accountMsg input{
    height: 30px;
    font-size: 14px;
    width: 220px;
    text-indent: 10px;
    color: #606060;
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    border-radius: 5px;
}
/*#meshTurnOver .accountMsg div{*/
    /*text-align: right;*/
    /*width:30%;*/
/*}*/
#meshTurnOver .transfer-company{
    text-align: center;
    padding: 40px;
    border: 1px solid #bbb;
    width: 600px;
    margin: auto;
    height: 141px;
}
#meshTurnOver .transfer-company label{
    display: inline-block;
    width: 180px;
    font-size: 16px;
    color: #3c3c3c;
    text-align: left;
}
.transfer-company label span{
    color: red;font-size: 20px;display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    vertical-align: middle;
}
#meshTurnOver .transfer-company select{
    border: 1px solid #bbb;
    width: 250px;
    text-indent: 10px;
    font-size: 15px;
    color: #3c3c3c;
    height: 35px;
    border-radius: 5px;
    background-color: #f3f3f3;
}
.confirm-btn{
    display: inline-block;
    color: white;
    background: #006DC1;
    width: 130px;
    margin-left: 22px;
    height: 50px;
    font-size: 20px;
}
.mesh-name{
    width:20%;
}
.mesh-name span{
    display: inline-block;
    height: 29px;
    line-height: 29px;
}
.mesh-id{
    width:40%;
}
.mesh-project{
    width:40%;
}
.confirm-btn{
    width: 140px;
    height: 42px;
    border: 1px solid #3598db;
    background-color: #3598db;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    letter-spacing: 5px;
    transform: initial;
}
.tranfer-btn{
    text-align: center;
    margin: 50px auto;
    padding-bottom: 30px;
}
.account-hint,.company-hint{
    height: 20px;
    font-size: 14px;
    color: #fb2a2a;
    margin-left: 0;
}
#account-transfer.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.scrollbar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 15px;     /*高宽分别对应横竖滚动条的尺寸*/
    height:10px;
    cursor: pointer;
}
.scrollbar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 100px;
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    background: #999;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#3598db;
}
.scrollbar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 100px;
    background: #f3f3f3;
}
#list{
    width: 250px;
    margin-left: 266px;
    margin-top: 0;
    border: 1px solid #bbb;
    max-height: 200px;
    overflow-y: auto;
    /*border-top: none;*/
    z-index: 1000;
    display: none;
}
#list.active{
    display: block;
}
#list li{
    font-size: 14px;
    color: #3c3c3c;
    line-height: 1.8;
    background-color: #f3f3f3;
    text-align: left;
    padding-left: 5px;

}
#list li:hover{
    background-color:#1387E9;
    color: #fff;
    cursor: pointer;
}
#account-transfer{
    border:1px solid #bbb;
    background-color: #f3f3f3;
    height: 30px;
    border-radius: 5px;
    width:250px;
    text-indent: 15px;
    font-size: 15px;
}

.open-list{
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #333;
    position: absolute;
    right: 130px;
    bottom: 55px;
    cursor: pointer;


}
#account-transfer::-webkit-input-placeholder { /* WebKit browsers */
    color:    #3c3c3c;
    font-size: 15px;
}
#account-transfer:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:     #3c3c3c;
    font-size: 15px;
}
#account-transfer::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:     #3c3c3c;
    font-size: 15px;
}
#account-transfer:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #3c3c3c;
    font-size: 15px;
}
p.trans-hint{
    font-size: 14px;
    color: red;
    height: 20px;
    margin-left: 45px;
}