#tab {
    width: 1300px;
    margin: 0 auto;
}

#tab .tab-nav {
    border: 1px solid #ddd;
    width:100%;
}

.tab-nav>div {
    width: calc((100% - 306px)/6);
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: #3c3c3c;
    font-weight: bold;
}

.tab-nav>div.data-scope {
    width: 300px;
    background-color: #47A6E6;
    color: #fff;
}

.tab-nav>div.active {
    background-color: #47A6E6;
    color: #fff;
    border-color: #47A6E6;
    cursor: pointer;
}

.tab-nav>div:last-child {
    border-right: none;
}

#tab .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    min-height: 410px;
    width: 100%;
}


.fix-left-nav {
    width: 300px;
    min-height: 412px;
    border-right: 1px solid #ddd;
    color: #2c2c2c;
}
.fix-left-nav.gray{
    background-color: #ddd;
}

.fix-right-nav {
    width: calc(100% - 301px);
    height: 100%;
}

.tab-content label,
.tab-content input {
    display: inline-block;
    vertical-align: middle;
}

.tab-content-part>div.list {
    border-bottom: 1px solid #ddd;
    line-height: 50px;
    text-align: left;
}

.limit,
.company {
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    background-color: #eee;
    line-height: 50px;
}

.list-title {
    width: calc(10%);

    padding: 0 20px;
}

.list-content>div.one>div.f-l.zero {
    width: 23%;
    line-height: 49px;
}

.list-content {
    width: calc(90% - 81px);
    border-left: 1px solid #ddd;
    padding: 0 20px;
}

.tab-content-part>div.list:last-child {
    border-bottom: none;
}

.company-select>div {
    padding: 0 7%;
    /* padding-left: 10%; */
    text-align: left;
    width: 86%;
    /* line-height: 4; */
    height: 50px;
    vertical-align: text-bottom;
    line-height: 50px;
}
.company-select>div:first-child{
    margin-top:50px;
}
.alter {
    text-align: center;
}

.tab-content-part {
    display: none;
}

.tab-content-part.active {
    display: block;
}

.alter button {
    height: 40px;
    width: 115px;
    color: #fff;
    font-size: 16px;
    background-color: #47A6E6;
    border: 1px solid #47A6E6;
    letter-spacing: 5px;
    padding-left: 5px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.list-content>div.one {
    width: 74%;
}

.list-content>div.one>div.f-l {
    width: 24%;
}

.tab-content-part>div.list.one {
    border-bottom: 1px solid #ddd;
}

.tab-content-part>div.list.one .list-title {
    /*line-height: 98px;*/
}

.tab-content-part>div.list.one .list-content {
    /*line-height: 49px;*/
}
.list-content>div.one>div.f-l.create-account{
    width:calc(100% - 20px);
    margin-left: 20px;
}
.list-content>div.one>div.f-l.create-account>div{
    width:21.5%;
}
.createRole{
    width:500px;
    margin:50px auto;
}
.createRole label{
    width: 100px;
    text-align: right;
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;
    color: #3c3c3c;

}
.createRole input{
    width: 300px;
    font-size: 15px;
    color: #666;
    text-indent: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.createRole>div{
    text-align: center;
    margin-bottom: 70px;
}
.createRole button{
    height: 40px;
    width: 134px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 5px;
    border: 1px solid #47A6E6;
    background-color: #47A6E6;
    border-radius: 5px;
    cursor: pointer;
}
.role-hint{
    height: 25px;
    color: red;
    font-size: 14px;
    margin-left: 168px;
}