#createAccount .c-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    border-bottom: 1px solid #bbb;
}
#createAccount .c-createAccount{
    height: 842px;
    margin: 30px 0;
    border: 1px solid #bbb;
}
#createAccount .c-content{
    padding: 10px 70px;
    font-size: 21px;
    color: #3c3c3c;
}
#createAccount form{
    width: 800px;
    margin: auto;
    font-size: 21px;
    color: #3c3c3c;
    margin-top: 100px;
}
#createAccount form>div{
    margin-bottom: 80px;
}
#createAccount form>div>label:first-child{
    width: 150px;
    text-align: right;
    display: inline-block;
    margin-right: 100px;
}
#createAccount form>div select,#createAccount form>div input[type='text']{
    height: 42px;
    border-radius: 5px;
    border: 1px solid #bbb;
   
}
#createAccount form>div select{
    width: 328px;
    font-size: 18px;
    color: #666;
}
#createAccount form>div input[type='text']{
    width: 62px;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    font-size: 21px;
    color: #3c3c3c;
    text-align: center;
}
.num{
    border: 1px solid #bbb;
    display: inline-block;
    border-radius: 5px;
}
.num>div{
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
#createAccount form>div button{
    height: 44px;
    width: 125px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
    border: 1px solid #3598db;
    background-color: #3598db;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 255px;
   
}
#createAccount form>div button:active{
    background-color: #0068ae;
}
#createAccount input[type="radio"]{
    display: none;

}

#createAccount .c-content img{
    margin-right: 30px;
    cursor: pointer;
}
#createAccount label.l-radio{
    margin-right: 50px;
}

#useTurnOver{
    margin: 20px 0;
    border: 1px solid #bbb;
    background-color: #fff;
}
#useTurnOver .f-nav{
    height: 58px;
    line-height: 58px;
    padding-left: 25px;
    font-size: 22px;
    color: #111;
    background-color: #fafafa;
    border-bottom: 1px solid #bbb;
}
#useTurnOver .accountMsg{
    margin: 40px 120px;
    border: 1px solid #bbb;
    padding: 35px;
}
#useTurnOver .accountMsg label{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    color: #3c3c3c;
    text-align: right;
    margin-right: 20px;
}
#useTurnOver .accountMsg input{
    height: 33px;
    font-size: 14px;
    width: 60%;
    text-indent: 10px;
    border: 1px solid #bbb;
    color: #3c3c3c;
}
.transfer-company label span{
    color: red;font-size: 20px;display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    vertical-align: middle;
}
#useTurnOver .accountMsg div{
    width:50%;
}
#useTurnOver .transfer-company{
    text-align: center;
}
#useTurnOver .transfer-company label{
    display: inline-block;
    width: 180px;
    font-size: 16px;
    color: #3c3c3c;
    text-align: left;
}
#useTurnOver .transfer-company select{
    border: 1px solid #bbb;
    width: 30%;
    text-indent: 10px;
    font-size: 14px;
    color: #3c3c3c;
    height: 38px;
}
.img-exchange{
    text-align: center;
    margin: 30px 0;
}
.transfer{
    border: 1px solid #bbb;
    width: 650px;
    margin: 30px auto;
    padding: 50px;
}
.attention{
    margin: 60px 0 0 190px;
    font-size: 15px;
}
.attention ul li,.attention p{
    line-height: 1.7;
}
.attention span{
    font-weight: bold;
}
.btn-transfer{
    text-align: center;
    padding: 35px 0  50px 0;
}
.btn-transfer button{
    width: 140px;
    height: 42px;
    border: 1px solid #3598db;
    background-color: #3598db;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    letter-spacing: 5px;
}