<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/alink-hq/static/js/browser.js"></script>
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <link rel="stylesheet" th:href="@{/static/css/laydate.css}"/>
    <title>项目列表</title>
</head>
<body>
<div th:replace="common/head::head"></div>
<div class="c-container">
    <div th:replace="common/left::left"></div>
    <div class="main-right">
        <div class="clearfix main-right-nav">
            <div class="f-l main-right-title">项目列表</div>
            <div class="f-r pointer">
                <img src="/alink-hq/static/img/create-project.png" alt="">
            </div>
            <div class="f-r pointer">
                <img src="/alink-hq/static/img/go-back.png" alt="">
            </div>
        </div>
        <div id="projectList" class="">
            <div class="search-condition ">
                <form action="" class="clearfix">
                    <div class="f-l search" style="margin-right:125px;">
                        <div>
                            <label for="">项目名</label>
                            <input type="text" id="projectName" placeholder="请输入项目名">
                        </div>
                        <div class="p-r">
                            <label for="">创建时间</label>
                            <input type="text" id="start-time" placeholder="请选择日期" AUTOCOMPLETE="off">
                            <img src="/alink-hq/static/img/date.png" alt="" class="p-a">
                        </div>
                    </div>
                    <div class="f-l search">
                        <div>
                            <label for="">施工员工账号</label>
                            <input type="text" placeholder="请输入账号" id="account">
                        </div>
                        <div class="p-r">
                            <label for="">更新时间</label>
                            <input type="text" id="end-time" placeholder="请选择日期" AUTOCOMPLETE="off">
                            <img src="/alink-hq/static/img/date.png" alt="" class="p-a">
                        </div>
                    </div>
                    <div class="f-r search-button ">
                        <button type="button" class="pointer">查询</button>
                    </div>
                </form>
            </div>
            <div class="search-result">
                <!-- 有数据时 -->
                <table border="1" class="hasData active">
                    <thead>
                    <tr>
                        <th class="all-checkbox ">
                            <span style="vertical-align: middle;"><img src="/alink-hq/static/img/checkbox.png"
                                                                       alt=""></span>
                            <span class="">全选</span>
                        </th>
                        <th>项目名称</th>
                        <th>项目中选中网络数量</th>
                        <th>施工人员</th>
                        <th class="p-r">
                            <span class="toTime">创建时间</span>
                            <img src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a toTop pointer">
                            <img src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a toBottom pointer">
                        </th>
                        <th class="p-r">
                            <span class="toTime">更新时间</span>
                            <img src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a toTop pointer">
                            <img src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a toBottom pointer">
                        </th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project:${pageInfo.list}">
                        <td class="checkbox ">
                            <img src="/alink-hq/static/img/checkbox.png" alt="" class="pointer">
                        </td>
                        <td class="project-name" >
                            <a href="javascript:void(0);" th:text="${project.name}"></a>
                        </td>
                        <td th:text="${project.meshNum}"></td>
                        <td th:text="${project.account}"></td>
                        <td th:text="${project.create_date}"></td>
                        <td th:text="${project.update_date}"></td>
                        <td class="p-r">
                            <img src="/alink-hq/static/img/edit.png" alt="" class="pointer">
                            <img src="/alink-hq/static/img/exchange.png" alt="" class="center-img">
                            <img src="/alink-hq/static/img/delete.png" alt="" class="pointer">
                            <div class="popup p-a">
                                重命名
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="clearfix page">
                            <div class="f-l">
                                <span class="selected-order">已选择
                                    <span class="amount">0</span>
                                    条订单
                                </span>
                            <span class="m-r-20">
                                    <img src="/alink-hq/static/img/true-over-un.png" alt="">
                                </span>
                            <span>
                                    <img src="/alink-hq/static/img/delete-un.png" alt="">
                                </span>
                            </div>
                            <!--<div th:replace="common/page::page"></div>-->
                            <div class="f-r page-right">
                                <span class="prev-page">
                                    <a th:href="@{/project/list(pageNum=${pageInfo.prePage},uid=${session.user.id},pageSize=${pageInfo.pageSize},account=${account},projectName=${projectName},startCreateDate=${startCreateDate},endCreateDate=${endCreateDate},startUpdateDate=${startUpdateDate},endUpdateDate=${endUpdateDate})}">
                                        <img src="/alink-hq/static/img/left-arrow.png" alt=""></a>
                                </span>
                                <span th:text="${pageInfo.pageNum}" class="pages"></span>
                                <span th:if="${pageInfo.hasNextPage}" class="next-page">
                                   <a th:href="@{/project/list(pageNum=${pageInfo.nextPage},uid=${session.user.id},pageSize=${pageInfo.pageSize},account=${account},projectName=${projectName},startCreateDate=${startCreateDate},endCreateDate=${endCreateDate},startUpdateDate=${startUpdateDate},endUpdateDate=${endUpdateDate})}">
                                       <img src="/alink-hq/static/img/right-arrow-color.png" alt=""></a>
                                </span>
                                <span th:unless="${pageInfo.hasNextPage}" class="next-page">
                                     <a th:href="@{/project/list(pageNum=${pageInfo.nextPage},uid=${session.user.id},pageSize=${pageInfo.pageSize},account=${account},projectName=${projectName},startCreateDate=${startCreateDate},endCreateDate=${endCreateDate},startUpdateDate=${startUpdateDate},endUpdateDate=${endUpdateDate})}">
                                         <img src="/alink-hq/static/img/right-arrow-color.png" alt=""></a>
                                </span>
                            <span class="m-l-15 m-r-20">共
                                    <span th:text="${pageInfo.pages}" class="pageTotal" id="pageTotal"></span>
                                    页/<span th:text="${pageInfo.total}"></span>条数据
                        </span>
                            <span class="m-r-15">
                        <input type="number" id="skipPage"/>
                        </span>
                            <span class="m-r-35">
                        <img src="/alink-hq/static/img/skip.png" alt="">
                        </span>
                                <span class="m-r-15r">每页显示：</span>
                            <span class="m-r-20">
                        <select name="" id="page-select">
                            <option value="10">10</option>
                            <option value="5">5</option>
                        </select>
                        </span>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <!-- 无数据时 -->
                <table border="1" class="noData ">
                    <thead>
                    <tr>
                        <th class="all-checkbox">
                            <img src="/alink-hq/static/img/checkbox.png" alt="">全选
                        </th>
                        <th>项目名称</th>
                        <th>项目中选中网络数量</th>
                        <th>施工人员</th>
                        <th class="p-r">
                            <span class="toTime">创建时间</span>
                            <img src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a toTop pointer">
                            <img src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a toBottom pointer">
                        </th>
                        <th class="p-r">
                            <span class="toTime">更新时间</span>
                            <img src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a toTop1 pointer">
                            <img src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a toBottom1 pointer">
                        </th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="8">
                            <img src="/alink-hq/static/img/no-data.png" alt="">
                            <p>暂无数据</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/alink-hq/static/js/jquery.min.js"></script>
<script src="/alink-hq/static/laydate/laydate.js"></script>
<script>
    //日期选择
    laydate.render({
        elem: '#start-time',//指定元素
        range: true
    });
    laydate.render({
        elem: '#end-time',//指定元素
        range: true
    });
    $('.one-list li').each(function () {
        var tab = $(this).attr('tab');
        if (tab == 'projectList') {
            $(this).addClass('active').siblings().removeClass('active');
        }
    })
    $(function() {
        //复选框
        var dataAccount = 0;
        $('.checkbox img').click(function () {
            var hasCheckbox = false;
            var imgUrl = $(this).attr('src');
            var isCheckbox = '/alink-hq/static/img/checkbox-gou.png';
            var noCheckbox = '/alink-hq/static/img/checkbox.png';
            if (imgUrl == noCheckbox) {
                $(this).attr('src', isCheckbox);
                dataAccount++;
            } else {
                $(this).attr('src', noCheckbox);
                dataAccount--;
            }
            $('tbody .checkbox img').each(function () {
                var imgUrl2 = $(this).attr('src');
                if (imgUrl2 == noCheckbox) {
                    hasCheckbox = true;
                }
            })
            if (!hasCheckbox) {
                $('.all-checkbox img').attr('src', isCheckbox);
            } else {
                $('.all-checkbox img').attr('src', noCheckbox);
            }
            $('.amount').text(dataAccount);
        })
        $('.all-checkbox img').click(function () {
            var imgUrl = $(this).attr('src');
            var isCheckbox = '/alink-hq/static/img/checkbox-gou.png';
            var noCheckbox = '/alink-hq/static/img/checkbox.png';
            if (imgUrl == noCheckbox) {
                dataAccount=$('tbody tr').length;
                $(this).attr('src', isCheckbox);
                $('tbody .checkbox img').each(function () {
                    $(this).attr('src', isCheckbox);
                })
            } else {
                dataAccount=0;
                $(this).attr('src', noCheckbox);
                $('tbody .checkbox img').each(function () {
                    $(this).attr('src', noCheckbox);
                })
            }
            $('.amount').text(dataAccount);
        })
    })

    $(function () {
        myBrowser()
        $('.one-list li').each(function () {
            $('.main-left>ul>li.one-list:eq(0)').find('.on-off-triangle').attr('src', '/alink-hq/static/img/right-triange-un.png');
            $('.main-left>ul>li.one-list:eq(0)').find('.two-list').addClass('active');
            var tab = $(this).attr('tab');
            if (tab == 'projectList') {
                $(this).addClass('active').siblings().removeClass('active');
            }
        })
    })
    $('.on-off-triangle').click(function () {
        var imgUrl = $(this).attr('src');
        if (imgUrl == '/alink-hq/static/img/bottom-triangle-un.png') {
            $(this).attr('src', '/alink-hq/static/img/right-triange-un.png');
            $(this).parent().parent('.one-list').find('.two-list').addClass('active');
        } else {
            $(this).attr('src', '/alink-hq/static/img/bottom-triangle-un.png');
            $(this).parent().parent('.one-list').find('.two-list').removeClass('active');
        }
    })




    //条件筛选
    $(function () {
        var url = window.location.href;
        var account = GetUrlParam("account");
        var projectName = decodeURIComponent(GetUrlParam("projectName"));
        var startCreateDate = GetUrlParam("startCreateDate");
        var endCreateDate = GetUrlParam("endCreateDate");
        var startUpdateDate = GetUrlParam("startUpdateDate");
        var endUpdateDate = GetUrlParam("endUpdateDate");
        var pageSize = GetUrlParam("pageSize");
        var pageNum = GetUrlParam("pageNum");
        var sortFlag = GetUrlParam("sortFlag");
        $('#skipPage').val(pageNum);
        $('#page-select option').each(function () {
            if ($(this).val() == pageSize) {
                $(this).attr("selected", "selected");
            }
        })
        if (startCreateDate != '' && endCreateDate != '') {
            var startTime = startCreateDate + ' - ' + endCreateDate;
            $('#start-time').val(startTime);
        }
        if (startUpdateDate != '' && endUpdateDate != '') {
            var endTime = startUpdateDate + ' - ' + endUpdateDate;
            $('#end-time').val(endTime);
        }
        $('#account').val(account);
        $('#projectName').val(projectName);
        $('.toTop').click(function(){
            var sortFlag='1';
            var pageSize = $('#page-select option:selected').val();
            var pageNum = $('#skipPage').val();
            if (pageNum == '') {
                pageNum == 1;
            } else {
                pageNum = parseInt(pageNum);
            }
            condition(pageSize, pageNum,sortFlag);
        })
        $('.toBottom').click(function(){
            var sortFlag='';
            var pageSize = $('#page-select option:selected').val();
            var pageNum = $('#skipPage').val();
            if (pageNum == '') {
                pageNum == 1;
            } else {
                pageNum = parseInt(pageNum);
            }
            condition(pageSize, pageNum,sortFlag);
        })
        $('.toBottom1').click(function(){
            var sortFlag='2';
            var pageSize = $('#page-select option:selected').val();
            var pageNum = $('#skipPage').val();
            if (pageNum == '') {
                pageNum == 1;
            } else {
                pageNum = parseInt(pageNum);
            }
            condition(pageSize, pageNum,sortFlag);
        })
        $('.toTop1').click(function(){
            var sortFlag='3';
            var pageSize = $('#page-select option:selected').val();
            var pageNum = $('#skipPage').val();
            if (pageNum == '') {
                pageNum == 1;
            } else {
                pageNum = parseInt(pageNum);
            }
            condition(pageSize, pageNum,sortFlag);
        })
        //查询按钮点击
        $('.search-button button').click(function () {
            var sortFlag = GetUrlParam("sortFlag");
            var pageSize = $('#page-select option:selected').val();
            var pageNum = $('#skipPage').val();
            if (pageNum == '') {
                pageNum == 1;
            } else {
                pageNum = parseInt(pageNum);
            }
//            console.log('pageNum',pageNum);
            condition(pageSize, pageNum,sortFlag);
        })
        //选择页数变化
        $('#page-select').change(function () {
            var pageSize = $(this).children('option:selected').val();
            var pageNum = parseInt($('#skipPage').val());
            condition(pageSize, pageNum);
        });
        //跳转页数变化
        $('#skipPageBtn').click(function () {
            var sortFlag = GetUrlParam("sortFlag");
            var pageSize = $('#page-select option:selected').val();
            var pageNum = $('#skipPage').val();
            if (pageNum == '') {
                pageNum == 1;
            } else {
                pageNum = parseInt(pageNum);
            }
            condition(pageSize, pageNum,sortFlag);
        })
    })
    function condition(pageSize, pageNum,sortFlag) {
        var url = window.location.href;
        var i = url.indexOf("?");
        if (i != -1) {
            var url2 = url.substring(0, i + 1);
        } else {
            var url2 = url + '?';
        }
        var account = $('#account').val();
        var projectName = $('#projectName').val();
        var startTime = $('#start-time').val();
        var startCreateDate = startTime.substring(0, 10);
        var endCreateDate = startTime.substring(13, 23);
        var endTime = $('#end-time').val();
        var startUpdateDate = endTime.substring(0, 10);
        var endUpdateDate = endTime.substring(13, 23);
        var newUrl = url2 + '&pageNum=' + pageNum+'&sortFlag='+sortFlag + '&pageSize=' + pageSize + '&projectName=' + projectName + '&account=' + account + '&startCreateDate=' + startCreateDate + '&endCreateDate=' + endCreateDate + '&startUpdateDate=' + startUpdateDate + '&endUpdateDate=' + endUpdateDate;
        location.href = newUrl;
    }

    //paraName 等找参数的名称
    function GetUrlParam(paraName) {
        var url = document.location.toString();
        var arrObj = url.split("?");
        if (arrObj.length > 1) {
            var arrPara = arrObj[1].split("&");
            var arr;
            for (var i = 0; i < arrPara.length; i++) {
                arr = arrPara[i].split("=");
                if (arr != null && arr[0] == paraName) {
                    return arr[1];
                }
            }
            return "";
        }
        else {
            return "";
        }
    }
</script>
</body>

</html>