<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css">
    <link rel="stylesheet" href="/alink-hq/static/css/common.css">
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css">
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css">
    <title>项目详情</title>
</head>

<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('projectList')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">项目详情</div>
                <!-- <div class="f-r pointer">
                    <img src="./img/create-project.png" alt="">
                </div> -->
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" alt="" onclick="history.back()">-->
                </div>
            </div>
            <div id="projectDetail" class="table-content-list">
                <div class="p-detail">
                    <div class="p-nav" th:text="${projectName}">

                    </div>
                    <div class="p-content">
                        <div class="clearfix">
                            <div class="f-l">
                                <span>项目中网络的数量：</span>
                                <span class="meshNum" th:text="${meshNum}"></span>
                            </div>
                            <div class="mesh f-l">
                                <a th:if="${meshNum}=='0'" class="a-un"  href="javascript:void(0);">查看网络列表</a>
                                <a th:if="${meshNum}!='0'"  th:href="@{/mesh/list(projectId=${projectId})}">查看网络列表</a>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="f-l">
                                <span>项目中区域的数量：</span>
                                <span class="placeNum" th:text="${placeNum}"></span>
                            </div>
                            <div class="place f-l">
                                <a th:if="${placeNum}=='0'" class="a-un" href="javascript:void(0);">查看区域列表</a>
                                <a th:if="${placeNum}!='0'"  th:href="@{/place/list(projectId=${projectId},projectName=${projectName})}">查看区域列表</a>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="f-l">
                                <span>项目中组的数量：</span>
                                <span class="groupNum" th:text="${groupNum}"></span>
                            </div>
                            <div class="group f-l">
                                <a th:if="${groupNum}=='0'" class="a-un"  href="javascript:void(0);">查看组列表</a>
                                <a th:if="${groupNum}!='0'" th:href="@{/group/list(projectId=${projectId})}">查看组列表</a>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="f-l">
                                <span>项目中灯的数量：</span>
                                <span class="lightNum" th:text="${lightNum}"></span>
                            </div>
                            <div class="light f-l">
                                <a th:if="${lightNum}=='0'" class="a-un"  href="javascript:void(0);">查看灯列表</a>
                                <a th:if="${lightNum}!='0'" th:href="@{/light/list(projectId=${projectId},projectName=${projectName})}">查看灯列表</a>
                            </div>
                        </div>
                    </div>
                    <div class="c-nav">
                        施工信息
                    </div>
                    <div class="c-content">
                        <div>
                            <span  class="msg-use">用户名：</span>
                            <span th:text="${user.uname}"></span>
                        </div>
                        <div>
                            <span class="msg-use">账号：</span>
                            <span th:text="${user.account}"></span>
                        </div>
                        <div>
                            <span class="msg-use">联系方式：</span>
                            <span th:text="${user.mobile}"></span>
                        </div>
                        <div>
                            <span class="msg-use">隶属公司：</span>
                            <span th:text="${coname}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/alink-hq/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/left.js"></script>
<script src="/alink-hq/static/js/moment.js"></script>
<script type="text/javascript">
    $('.f-l a').click(function(){
        if($('.meshNum').text()==0){
            $('.mesh a').prop('href','javascript:return false;');
        }
        if($('.placeNum').text()==0){
            $('.place a').prop('href','javascript:return false;');
        }
        if($('.groupNum').text()==0){
            $('.group a').prop('href','javascript:return false;');
        }
        if($('.lightNum').text()==0){
            $('.light a').prop('href','javascript:return false;');
        }
    })
</script>
</body>
</html>