<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--<title>导航栏</title>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/base.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/alink-hq/static/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<!-- 删除 -->
<div class="pop-iframe" openContent="relevance-pop" th:fragment="relevance-pop">
    <div class=" p-r pop-nav">
        请选择关联的固件
    </div>
    <div class="pop-content p-r">
        <div class="pop-msg p-a clearfix" style="top: 42%;">
            <div class="f-l ">
                <div class="clearfix firmware-list " >
                    <div class="f-l" th:each="ota:${otas}">
                        <input class="" name="firmware" type="radio" value="0">
                        <label class="radio" th:text="${ota.ota_name}"></label>
                        <input type="hidden" value="${ota.id}">
                    </div>
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件2</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件3</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件4</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件5</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件6</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件7</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件8</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件9</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件10</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件11</label>-->
                    <!--</div>-->
                    <!--<div class="f-l">-->
                        <!--<input class="" name="firmware" type="radio" value="0">-->
                        <!--<label class="radio">固件12</label>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="pop-btn p-a">
            <button class="reduce">取消</button>
            <button class="yes">确定</button>
        </div>
    </div>
</div>
</body>
</html>