<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/alink-hq/static/js/browser.js"></script>
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/loding.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <link rel="stylesheet" th:href="@{/static/css/laydate.css}"/>
    <title>创建组</title>
</head>
<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('groupList')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">创建组</div>
                <!--<div class="f-r pointer">-->
                <!--<img src="/alink-hq/static/img/create-project.png" alt="">-->
                <!--</div>-->
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back();" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" alt="" onclick="history.back()">-->
                </div>
            </div>
            <div id="createProject">
                <div class="c-createProject">
                    <div class="c-nav">
                        创建组
                    </div>
                    <div class="c-content ">
                        <div class="subjection">隶属项目：<span th:inline="text">[[${project.label}]]</span></div>
                        <form th:action="@{/group/save}" method="POST" style="margin-top: 0;">
                            <div class="process clearfix">
                                <div class="f-l part">
                                    <img src="/alink-hq/static/img/fill-1-on.png" alt="" id="one-step">
                                    <span>选择网络</span>
                                </div>
                                <div class="f-l part  line ">……</div>
                                <div class="f-l part">
                                    <img src="/alink-hq/static/img/fill-2-no.png" alt="" id="two-step">
                                    <span>选择区域</span>
                                </div>
                                <div class="f-l part  line ">……</div>
                                <div class="f-l part">
                                    <img src="/alink-hq/static/img/fill-3-no.png" alt="" id="three-step">
                                    <span>输入名称</span>
                                </div>
                            </div>
                            <!--选择网络-->
                            <div class="select-mesh-step active step">
                                <div>
                                    <p class="project-hint"></p>
                                    <label for="mid">选择网络：</label>
                                    <select id="mid" name="mid" style="height:35px;">
                                        <option value="">请选择网络</option>
                                    </select>
                                </div>
                                <div>
                                    <p class="" style="height: 35px"></p>
                                    <label for="meshId">网络ID：</label>
                                    <input type="text" id="meshId" readonly>
                                </div>
                                <div class="">
                                    <button type="button" class="confirm-create" openTab="confirm-create">下一步</button>
                                </div>
                            </div>

                            <!--选择区域-->
                            <div class="select-place-step step">
                                <div>
                                    <p class="place-hint"></p>
                                    <label for="place">选择区域：</label>
                                    <select id="place" name="pid" style="height:35px;">
                                        <option value="">请选择区域</option>
                                    </select>
                                </div>

                                <div class="">
                                    <button type="button" class="back-btn">上一步</button>
                                    <button type="button" class="confirm-create" openTab="confirm-create">下一步</button>
                                </div>
                            </div>

                            <!--输入组名-->
                            <div class="select-group-step step">
                                <div>
                                    <p class="group-hint"></p>
                                    <label for="group">组名：</label>
                                    <input type="text" id="group" placeholder="请输入（2-16 位汉字、字母、数字）">
                                </div>
                                <div class="">
                                    <button type="button" class="back-btn">上一步</button>
                                    <button type="button" class="confirm-create" openTab="confirm-create">完成</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="preload-anim">
    <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
    </div>
    <p class="title"></p>
</div>
<script type="text/javascript" src="/alink-hq/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/left.js"></script>
<script src="/alink-hq/static/js/moment.js"></script>
<script  src="/alink-hq/static/js/selectivizr.js"></script>
<script  src="/alink-hq/static/js/html5shiv.js"></script>
<script th:inline="javascript">
    var mid = [[${dict.mid}]];
    var projectId = [[${dict.projectId}]];
    var pid, meshId, gid;
    $(function () {
        $.getJSON("/alink-hq/group/getMesh", {"projectId": projectId}, function (json) {
            $.each(json, function (i, item) {
                var id = item.id;
                if (id.substr(0, id.indexOf("_")) == mid) {
                    $("#mid").append("<option value='" + item.id + "' selected readonly>" + item.label + "</option>");
                }
                else {
                    $("#mid").append("<option value='" + item.id + "'>" + item.label + "</option>");
                }
            });
            var str = $("#mid option:selected").val();
            $("#meshId").val(str.substr(0, str.indexOf("_")));
            $("#mid").change(function () {
                mid = $("#mid option:selected").val();
                if (mid == '') {
                    $('.project-hint').text('请选择网络');
                } else {
                    $('.project-hint').text('');
                }
                meshId = mid.substr(mid.indexOf("_") + 1);
                $("#meshId").val(meshId);
            })
        })
        //第二步跳转到第一步，返回第一个页面
        $('.select-place-step .back-btn').click(function () {
            pid = $("#place option:selected").val();
            console.log(mid, pid, gid);
            if (!pid || pid == '') {
                var two = 'no';
            } else {
                var two = 'is';
            }
            if (gid) {
                var three = 'is';
            } else {
                var three = 'no';
            }
            var one = 'on';
//            if (mid) {
//                var one = 'is';
//            } else {
//                var one = 'on';
//            }
            var step = 'mesh';
            show(step);
            stepSkip(one, two, three);
        })
        //第一步跳转第二步时,第三步返回第二步时,同时显示第二步页面
        $('.select-mesh-step .confirm-create').click(function () {
            mid = $("#mid option:selected").val();
            var id = mid.substr(0, mid.indexOf("_"));
            var two = 'on';
            if (mid == '' || !mid) {
                var one = 'no';
                $('.project-hint').text('请选择网络');
            } else {
                $('.project-hint').text('');
                var one = 'is';
                var step = 'place';
                show(step);
                console.log(id, mid, pid, gid);
                if (pid && pid != '') {
//                    var two = 'is';
                    $("#place option:selected").val(pid);
                    $.getJSON("/alink-hq/group/getPlace", {"mid": id}, function (json) {
                        if (json != '') {
                            $("#place option:first").siblings().remove();
                        }
                        $.each(json, function (i, item) {
                            if (item.id == pid) {
                                $("#place").append("<option value='" + item.id + "' selected>" + item.label + "</option>")
                            } else {
                                $("#place").append("<option value='" + item.id + "'>" + item.label + "</option>")
                            }
                        })
                    })
                } else {
//                    var two = 'on';
                    $.getJSON("/alink-hq/group/getPlace", {"mid": id}, function (json) {
                        if (json != '') {
                            $("#place option:first").siblings().remove();
                        }
                        $.each(json, function (i, item) {
                            $("#place").append("<option value='" + item.id + "'>" + item.label + "</option>")
                        })
                    })
                }
                if (gid && gid != '') {
                    var three = 'is';
                } else {
                    var three = 'no';
                }
                console.log(one, two, three)
                stepSkip(one, two, three);
            }
        })
        //第三步跳转第二步时，同时显示第二步页面
        $('.select-group-step .back-btn').click(function () {
            gid = $('#group').val();
            console.log(mid, pid, gid);
            if (!gid || gid == '') {
                var three = 'no';
            } else {
                var three = 'is';
            }
            var step = 'place';
            show(step);
//            if (pid && pid != '') {
//                var two = 'is';
//            } else {
//                var two = 'on';
//            }
            var two = 'on';
            if (mid && mid != '') {
                var one = 'is';
            } else {
                var one = 'no';
            }
            stepSkip(one, two, three);
        })

        //第二步跳转第三步时,同时显示第三步页面
        $('.select-place-step .confirm-create').click(function () {
            pid = $("#place option:selected").val();
            console.log(mid, pid, gid);
            if (!pid || pid == '') {
                var two = 'no';
                $('.place-hint').text('请选择区域');
            } else {
                $('.place-hint').text('');
                var two = 'is';
                var step = 'group';
                show(step);
                if (mid && mid != '') {
                    var one = 'is';
                } else {
                    var one = 'on';
                }
//                if (gid && gid != '') {
//                    var three = 'is';
//                } else {
//                    var three = 'on';
//                }
                var three = 'on';
                console.log(one, two, three)
                stepSkip(one, two, three);
            }
        })
        //输入组的确定
        $('.select-group-step .confirm-create').click(function () {
            gid = $('#group').val();
            console.log(mid, pid, gid);
            var regName = /^[a-zA-Z0-9\u4e00-\u9fa5]{2,16}$/;
            var groupResult = regName.test(gid);
            var mids = mid.substr(0, mid.indexOf("_"));
            if (gid && gid != '' && groupResult) {
                $('.group-hint').text('');
                $.ajax({
                    type: "post",
                    url: "/alink-hq/group/save",
                    data: {"mid": mids, "pid": pid, "name": gid},
                    success: function (res) {
                        if (res == 'ok') {
                            $('#preload-anim').addClass('active');
                            $('#preload-anim .title').text('创建成功！');
                            setInterval(function () {
                                $('#preload-anim').removeClass('active');
                                location.href = '/alink-hq/group/list?mid=' + mids;
                            }, 1000)
                        } else if (res == 'fail') {
                            $('.group-hint').text('已存在，请重新输入');
                        } else {
                            $('#preload-anim').addClass('active');
                            $('#preload-anim .title').text('加载失败，请重新尝试');
                            setInterval(function () {
                                $('#preload-anim').removeClass('active');
                            }, 1000)
                        }
                    }
                })
            } else {
                $('.group-hint').text('请输入（2-16 位汉字、字母、数字）');
            }
        })
    })
    //步骤背景色改变
    function stepSkip(one, two, three) {
        $('#one-step').attr('src', '/alink-hq/static/img/fill-1-' + one + '.png');
        $('#two-step').attr('src', '/alink-hq/static/img/fill-2-' + two + '.png');
        $('#three-step').attr('src', '/alink-hq/static/img/fill-3-' + three + '.png');
    }
    //步骤显示
    function show(step) {
        $('.select-' + step + '-step').addClass('active').siblings('.step').removeClass('active');
    }

    $("#group").bind("input propertychange", function () {
        var groupId = $('#group').val();
        var regName = /^[a-zA-Z0-9\u4e00-\u9fa5]{2,16}$/;
        var groupResult = regName.test(groupId);
        if (groupId != '' && groupResult) {
            $('.group-hint').text('')
        } else {
            $('.group-hint').text('请输入（2-16 位汉字、字母、数字）')
        }
    })
    $("#place").change(function () {
        var pid = $("#place option:selected").val();
        if (pid == '') {
            $('.place-hint').text('请选择区域');
        } else {
            $('.place-hint').text('');
        }
    })
</script>
</body>
</html>