<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>网络列表</title>
    <script src="/alink-hq/static/js/browser.js"></script>
    <script src="/alink-hq/static/js/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/laydate.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/leftNav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/projectManage.css}"/>
</head>
<body>
<div th:replace="common/head::head"></div>
<div class="c-container">
    <div th:replace="common/left::left"></div>
    <div class="main-right">
        <div class="clearfix main-right-nav">
            <div class="f-l main-right-title">网络列表</div>
            <div class="f-r pointer">
                <img src="/alink-hq/static/img/create-project.png" alt="">
            </div>
            <div class="f-r pointer">
                <img src="/alink-hq/static/img/go-back.png" alt="" onclick="history.back()">
            </div>
        </div>

        <div id="meshList" class="">
            <form class="clearfix" th:action="@{/mesh/list}" method="post">
                <input type="hidden" name="uid" th:value="${dict.uid}">
                <input type="hidden" id="pageSize" th:value="${dict.pageSize}">
                <div class="search-condition temp">
                    <div class="f-l search" style="margin-right:125px;">
                        <div>
                            <label for="name">网络名称：</label>
                            <input type="text" id="name" name="mname" th:value="${dict.mname}" placeholder="请输入网络名称">
                        </div>
                        <div>
                            <label for="name">网络状态：</label>
                            <select name="status">
                                <option value="0">全部</option>
                                <option value="1">未知</option>
                            </select>
                        </div>
                    </div>
                    <div class="f-l search">
                        <div>
                            <label for="mid">网络ID：</label>
                            <input type="text" id="mid" name="meshId" th:value="${dict.meshId}" placeholder="请输入网络ID">
                        </div>
                        <div>
                            <label for="pname">项目名称：</label>
                            <input type="text" id="pname" name="pname" th:value="${dict.pname}" placeholder="请输入项目名称">
                        </div>
                    </div>
                    <div class="f-r search-button ">
                        <button type="submit" class="pointer">查询</button>
                    </div>
                </div>
                <div class="search-result">
                    <!-- 有数据时 -->
                    <table border="1" class="hasData active" th:if="${pageInfo!=null}">
                        <thead>
                        <tr>
                            <th class="all-checkbox">
                                <input type="checkbox" id="all"  class="">
                                <span style="vertical-align: middle;"><img src="/alink-hq/static/img/checkbox.png" alt="" ></span>
                                <span class="">全选</span>
                            </th>
                            <th>网络名称</th>
                            <th>网络ID</th>
                            <th>网络类型</th>
                            <th>属于项目</th>
                            <th>区域数量</th>
                            <th>场景数量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="mesh:${pageInfo.list}" class="checkbox">
                            <td><input type="checkbox" name="mids" th:value="${mesh.id}"><img src="/alink-hq/static/img/checkbox.png" alt=""  class="pointer"></td>
                            <td th:text="${mesh.mname}"></td>
                            <td th:text="${mesh.mesh_id}"></td>
                            <td th:text="${mesh.mesh_type}"></td>
                            <td th:text="${mesh.name}"></td>
                            <td th:text="${mesh.pcount}"></td>
                            <td th:text="${mesh.scount}"></td>
                            <td>未知</td>
                            <td class="p-r">
                                <img src="/alink-hq/static/img/edit.png" th:alt="${mesh.id}" class="rename">
                                <a th:href="@{/mesh/move(mids=${mesh.id})}">
                                    <img src="/alink-hq/static/img/exchange.png" alt="" class="center-img">
                                </a>
                                <a th:href="@{/mesh/delete(mids=${mesh.id})}" onclick="return confirm('您确定要删除所选的网络吗？')">
                                    <img src="/alink-hq/static/img/delete.png" alt="" id="singleDel">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="9" class="clearfix page">
                                <div class="f-l">
                            <span class="selected-order">已选择
                                <span class="amount">0</span>条数据
                            </span>
                                    <span class="m-r-20">
                                <img src="/alink-hq/static/img/true-over-un.png" alt="" id="multiMove">
                            </span>
                                    <span>
                                <img src="/alink-hq/static/img/delete-un.png" alt="" id="multiDel">
                            </span>
                                </div>
                                <div th:replace="common/page::page"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 无数据时 -->
                    <table th:if="${pageInfo==null}" border="1" class="noData active">
                        <thead>
                        <tr>
                            <th class="all-checkbox">
                                <input type="checkbox" id="">全选
                            </th>
                            <th>网络名称</th>
                            <th>网络ID</th>
                            <th>网络类型</th>
                            <th>属于项目</th>
                            <th>区域数量</th>
                            <th>场景数量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="9">
                                <img src="/alink-hq/static/img/no-data.png" alt="">
                                <p>暂无数据</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/alink-hq/static/js/mesh.js"></script>
<script>
    $(function(){
        myBrowser()
        $('.one-list li').each(function () {
            $('.main-left>ul>li.one-list:eq(0)').find('.on-off-triangle').attr('src', '/alink-hq/static/img/right-triange-un.png');
            $('.main-left>ul>li.one-list:eq(0)').find('.two-list').addClass('active');
            var tab = $(this).attr('tab');
            if (tab == 'meshList') {
                $(this).addClass('active').siblings().removeClass('active');
            }
        })
    })
    $('.all-checkbox img').click(function(){

//        console.log($(this).attr('src'));
    })
    //复选框
    $('.checkbox img').click(function(){
        var hasCheckbox=false;
        var imgUrl=$(this).attr('src');
        var isCheckbox='/alink-hq/static/img/checkbox-gou.png';
        var noCheckbox='/alink-hq/static/img/checkbox.png';
        if(imgUrl==noCheckbox){
            $(this).attr('src',isCheckbox);
            $(this).prev('input[type="checkbox"]').prop("checked",true);
//            $(this).prev('input[type="checkbox"]').tigger('click');
        }else{
            $(this).attr('src',noCheckbox);
            $(this).prev('input[type="checkbox"]').prop("checked",false);
        }
        $('tbody .checkbox img').each(function(){
            var imgUrl2= $(this).attr('src');
            if(imgUrl2==noCheckbox){
                hasCheckbox=true;
            }
        })
        if(!hasCheckbox){
            $('.all-checkbox img').attr('src',isCheckbox);
            $('#all').prop("checked",true);
        }else{
            $('.all-checkbox img').attr('src',noCheckbox);
            $('#all').prop("checked",false);
        }
    })
    $('.all-checkbox img').click(function(){
//        $('#all').prop("checked",true);
        var imgUrl=$(this).attr('src');
        var isCheckbox='/alink-hq/static/img/checkbox-gou.png';
        var noCheckbox='/alink-hq/static/img/checkbox.png';
        if(imgUrl==noCheckbox){
            $(this).attr('src',isCheckbox);
            $('tbody .checkbox img').each(function(){
                $(this).attr('src',isCheckbox);
                $('#all').prop("checked",true);
                $(this).prev('input[type="checkbox"]').prop("checked",true);

            })
        }else{
            $(this).attr('src',noCheckbox);
            $('tbody .checkbox img').each(function(){
                $(this).attr('src',noCheckbox);
                $('#all').prop("checked",false);
                $(this).prev('input[type="checkbox"]').prop("checked",false);
            })
        }
    })

    $('.on-off-triangle').click(function () {
        var imgUrl = $(this).attr('src');
        if (imgUrl == '/alink-hq/static/img/bottom-triangle-un.png') {
            $(this).attr('src', '/alink-hq/static/img/right-triange-un.png');
            $(this).parent().parent('.one-list').find('.two-list').addClass('active');
        } else {
            $(this).attr('src', '/alink-hq/static/img/bottom-triangle-un.png');
            $(this).parent().parent('.one-list').find('.two-list').removeClass('active');
        }
    })
</script>
</body>
</html>