<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>网络列表</title>

    <script src="/alink-hq/static/js/jquery.min.js"></script>
    <script src="/alink-hq/static/js/browser.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/laydate.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/leftNav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/projectManage.css}"/>
</head>
<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('meshList')"></div>
        <div class="main-right f-r">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">网络列表</div>
                <div class="f-r pointer">
                    <a th:href="@{/mesh/create/(id=0)}">
                        <div class="create" onmousedown="createBtnMouseDown()" onmouseup="createBtnMouseUp()">
                            <span>+</span><span>创建网络</span>
                        </div>
                        <!--<img src="/alink-hq/static/img/create-project.png" alt="" id="newMesh">-->
                    </a>

                </div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back();" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <!--<span class="triangle-facing-left"></span>-->
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" alt="" onclick="history.back()">-->
                </div>
            </div>

            <div id="meshList" class="">
                <form class="clearfix" th:action="@{/mesh/list}" method="post">
                    <input type="hidden" name="uid" th:value="${dict.uid}">
                    <input type="hidden" id="pageSize" th:value="${dict.pageSize}">
                    <div class="search-condition temp">
                        <div class="f-l search" style="margin-right:125px;">
                            <div>
                                <label for="name" class="font">网络名称</label>
                                <input type="text" id="name" name="mname" th:value="${dict.mname}"
                                       placeholder="请输入网络名称">
                            </div>
                            <div>
                                <label for="name" class="font">网络状态</label>
                                <select name="status" style=" height: 38px;line-height: 38px;">
                                    <option value="0">全部</option>
                                    <option value="1">未知</option>
                                </select>
                            </div>
                        </div>
                        <div class="f-l search">
                            <div>
                                <label for="mid" class="font">网络ID</label>
                                <input type="text" id="mid" name="meshId" th:value="${dict.meshId}"
                                       placeholder="请输入网络ID" class="intInput">
                            </div>
                            <div>
                                <label for="pname" class="font">项目名称</label>
                                <input type="text" id="pname" name="pname" th:value="${dict.pname}"
                                       placeholder="请输入项目名称">
                            </div>
                        </div>
                        <div class="f-r search-button ">
                            <button type="submit" class="pointer">查询</button>
                        </div>
                    </div>
                    <div class="search-result">
                        <!-- 有数据时 -->
                        <table border="1" class="hasData active" th:if="${pageInfo!=null}">
                            <thead>
                            <tr>
                                <th class="all-checkbox">
                                <span style="vertical-align: sub;">
                                    <input type="checkbox" id="all" class="pointer">
                                </span>
                                    <span class="">全选</span>
                                </th>
                                <th><span>网络名称</span></th>
                                <th><span>网络ID</span></th>
                                <th><span>网络类型</span></th>
                                <th><span>属于项目</span></th>
                                <th><span>区域数量</span></th>
                                <th><span>场景数量</span></th>
                                <th><span>状态</span></th>
                                <th class="operation"><span>操作</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="mesh:${pageInfo.list}">
                                <td class="checkbox">
                                    <input type="checkbox" name="ids" th:value="${mesh.id}" class="">
                                    <input type="hidden" th:value="${mesh.uid}" class="uid">
                                </td>
                                <td class="k-link"><a th:href="@{/mesh/info(id=${mesh.id})}" th:text="${mesh.mname}"></a>
                                </td>
                                <td th:text="${mesh.mesh_id}"></td>
                                <td th:text="${mesh.mesh_type}"></td>
                                <td class="k-link">
                                    <a th:href="@{/project/detail(projectId=${mesh.project_id},projectName=${mesh.name})}"
                                       th:text="${mesh.name}"></a>
                                </td>
                                <td class="k-link">
                                    <a th:href="@{/place/list(projectId=${mesh.project_id},mid=${mesh.id})}"
                                       th:text="${mesh.pcount}"></a>
                                </td>
                                <td class="k-link">
                                    <a th:href="@{/scene/list(meshName=${mesh.mname},meshId=${mesh.mesh_id},mid=${mesh.id})}"
                                       th:text="${mesh.scount}"></a>
                                </td>
                                <td>未知</td>
                                <td class="p-r">
                                    <img src="/alink-hq/static/img/edit.png" th:alt="${mesh.id}"
                                         class="reset-name pointer"
                                         title="重命名">
                                    <a th:href="@{/mesh/move(ids=${mesh.id})}">
                                        <img src="/alink-hq/static/img/exchange.png" alt="" class="center-img pointer"
                                             title="移动">
                                    </a>
                                    <a href="javascript:void(0);" class="singleDel pointer">
                                        <img src="/alink-hq/static/img/delete.png" alt="" title="删除">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="9" class="clearfix page">
                                    <div class="f-l">
                            <span class="selected-order">已选择
                                <span id="amount" class="amount">0</span>条数据
                            </span>
                                    <span class="m-r-20">

                                <span class="skipPageBtn pointer moment" onmousedown="exchangeBtnMouseDown()"
                                      onmouseup="exchangeBtnMouseUp()" id="multiMove">移动</span>
                            </span>
                                    <span>

                                <span class="skipPageBtn pointer moment" onmousedown="deleteBtnMouseDown()"
                                      onmouseup="deleteBtnMouseUp()" id="multiDel">删除</span>
                            </span>

                                    </div>
                                    <div th:replace="common/page::page"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- 无数据时 -->
                        <table th:if="${pageInfo==null}" border="1" class="noData active">
                            <thead>
                            <tr>
                                <th class="all-checkbox">
                                 <span style="vertical-align: sub;">
                                    <input type="checkbox" class="pointer">
                                </span>
                                    <span class="">全选</span>
                                </th>
                                <th>网络名称</th>
                                <th>网络ID</th>
                                <th>网络类型</th>
                                <th>属于项目</th>
                                <th>区域数量</th>
                                <th>场景数量</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="9">
                                    <img src="/alink-hq/static/img/no-data.png" alt="">
                                    <p>暂无数据</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 重命名弹框 -->
<div class="confirm-on-off pop-iframe  " openContent="reset-name">
    <div class="confirm-on-off-nav p-r pop-nav">
        重命名
    </div>
    <div class="pop-content">
        <div class="newName">
            <p class="rename-hint"></p>
            <label for="rename">新名称</label>
            <input type="text" placeholder="请输入（2-16位汉字、字母、数字）" id="rename" onkeyup="nameKeyUp()" maxlength="16"/>
        </div>
        <div class="pop-btn">
            <button class="reduce">取消</button>
            <button class="yes">确定</button>
        </div>
    </div>
</div>
<!-- 删除账户 -->
<div class="pop-iframe" openContent="delete-mesh">
    <div class=" p-r pop-nav">
        温馨提示
    </div>
    <div class="pop-content">
        <div class="reset-pwd">您确定要删除该所选的网络吗？</div>
        <div class="reset-pwd-hint">（删除后网络中所有信息将无法恢复，请慎重！）</div>
        <div class="pop-btn">
            <button class="reduce">取消</button>
            <button class="yes">确定</button>
        </div>
    </div>
</div>
<!-- 不可移动不同账号下的网络 -->
<div class="pop-iframe " openContent="exchange">
    <div class=" p-r pop-nav">
        温馨提示
    </div>
    <div class="pop-content">
        <div class="reset-pwd">不同账号下的网络不可进行移动</div>
        <div class="pop-btn">
            <button class="reduce">取消</button>
            <button class="yes">确定</button>
        </div>
    </div>
</div>

<div class="hide-iframe "></div>
<script type="text/javascript" src="/alink-hq/static/js/left.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/page.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/mesh.js"></script>
<script src="/alink-hq/static/js/moment.js"></script>
</body>
</html>