<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/alink-hq/static/js/browser.js"></script>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/loding.css"/>
    <link rel="stylesheet" th:href="@{/static/css/laydate.css}"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <title>创建区域</title>
</head>
<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('placeList')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">
                    <nav class="bread">
                        <ol class="clearfix">
                            <li class="f-l"><a th:href="@{/place/list(mid=0)}">区域列表</a></li>
                            <li class="f-l">创建区域</li>
                        </ol>
                    </nav>
                </div>
                <!--<div class="f-r pointer">-->
                <!--<img src="/alink-hq/static/img/create-project.png" alt="">-->
                <!--</div>-->
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back();" onmousedown="backBtnMouseDown()"
                         onmouseup="backBtnMouseUp()">
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" alt="" onclick="history.back()">-->
                </div>
            </div>
            <div id="createProject" class="table-content-list detail">
                <div class="p-detail">
                    <div class="p-nav">
                        创建区域
                    </div>
                    <div class="p-content p-r">
                        <!--<div class="subjection">隶属项目：<span th:inline="text">[[${project.label}]]</span></div>-->
                        <form th:action="@{/place/save}" method="post" style="margin-top: 0;">
                            <fieldset>
                                <input type="hidden" name="uid" id="uid" th:value="${session.user.id}">
                                <input type="hidden" name="mid" id="mid" th:value="${dict.mid}">
                                <input type="hidden" id="project_id" th:value="${dict.projectId}">
                                <div class="process clearfix">
                                    <div class="f-l part " stepIcon="one">
                                        <img src="/alink-hq/static/img/fill-1-on.png" alt="">
                                        <span>选择项目</span>
                                    </div>
                                    <div class="f-l part  line ">............</div>
                                    <div class="f-l part " stepIcon="two">
                                        <img src="/alink-hq/static/img/fill-2-no.png" alt="">
                                        <span>选择网络</span>
                                    </div>
                                    <div class="f-l part  line ">............</div>
                                    <div class="f-l part " stepIcon="three">
                                        <img src="/alink-hq/static/img/fill-3-no.png" alt="">
                                        <span>输入名称</span>
                                    </div>
                                </div>

                                <!--输入项目名-->
                                <div step="one-content" class="init-content active clearfix">
                                    <div class="form-row">
                                        <div class="field-label">
                                            <!--<p class="project-hint"></p>-->
                                            <label for="projectId">项目名称：</label>
                                        </div>
                                        <div class="field-widget p-r">
                                            <p class="p-a verify project-hint" ></p>
                                            <select id="projectId" name="projectId" style="height:35px;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <button type="button" class="confirm-create next-step" openTab="confirm-create">
                                            下一步
                                        </button>
                                    </div>
                                </div>


                                <!--输入网络-->
                                <div step="two-content" class="init-content clearfix">
                                    <div class="form-row">
                                        <div class="field-label">
                                            <!--<p class="mesh-hint"></p>-->
                                            <label for="mesh_id">选择网络：</label>
                                        </div>
                                        <div class="field-widget p-r">
                                            <p class="p-a verify project-hint"></p>
                                            <select id="mesh_id" name="mesh_id" style="height:35px;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="field-label">
                                            <!--<p class="" style="height: 20px"></p>-->
                                            <label for="meshId">网络ID：</label>
                                        </div>
                                        <div class="field-widget p-r">
                                            <p class="p-a verify"></p>
                                            <input type="text" id="meshId" name="" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row ">
                                        <div class="field-label">
                                            <label></label>
                                        </div>
                                        <div class="field-widget p-r clearfix two-radio">
                                            <div class="f-l">
                                                <button type="button" class="confirm-create prev-step "
                                                        openTab="confirm-create" >上一步
                                                </button>
                                            </div>
                                            <div class="f-l">
                                                <button type="button" class="confirm-create next-step f-r"
                                                        openTab="confirm-create">下一步
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--输入区域名-->
                                <div step="three-content" class="init-content ">
                                    <div class="form-row">
                                        <div class="field-label">
                                            <!--<p class="place-hint"></p>-->
                                            <label for="pname">区域名称：</label>
                                        </div>
                                        <div class="field-widget p-r">
                                            <p class="p-a verify place-hint"></p>
                                            <input type="text" id="pname" name="pname" placeholder="请输入（2-6 位汉字、字母、数字）"
                                                   value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="field-label">
                                            <label></label>
                                        </div>
                                        <div class="field-widget p-r clearfix two-radio">
                                            <div class="f-l">
                                                <button type="button" class="confirm-create prev-step"
                                                        openTab="confirm-create"
                                                        >上一步
                                                </button>
                                            </div>
                                            <div class="f-r">
                                                <button type="button" class="confirm-create next-step"
                                                        openTab="confirm-create">
                                                    确定创建
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="preload-anim">
    <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
    </div>
    <p class="title"></p>
</div>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/left.js}"></script>
<script th:src="@{/static/js/moment.js}"></script>
<script th:src="@{/static/js/placeCreate.js}"></script>
</body>
</html>