<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <script src="/alink-hq/static/js/browser.js"></script>
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="/alink-hq/static/css/loding.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <title>创建账号</title>
</head>

<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('createAccount')"></div>
        <div class="main-right f-l">
            <div class="clearfix main-right-nav">
                <div class="f-l main-right-title">
                    <nav class="bread">
                        <ol class="clearfix">
                            <li class="f-l"><a th:href="@{/account/list}">用户列表</a></li>
                            <li class="f-l">创建账号</li>
                        </ol>
                    </nav>
                </div>
                <div class="f-r pointer">
                    <div class="goBack" onClick="javascript :history.back(-1);">
                        <span><</span><span>返回</span>
                    </div>
                    <!--<img src="/alink-hq/static/img/go-back.png" onClick="javascript :history.back(-1);" alt=""/>-->
                </div>
            </div>
            <div class="table-content-list detail">
                <div class="c-createAccount p-detail">
                    <div class="c-nav p-nav">
                        新建账号
                    </div>
                    <div class="c-content p-content p-r">
                        <form>
                            <fieldset>
                                <div class="form-row">
                                    <div class="field-label">
                                        <label for="fid">隶属公司：</label>
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="create-company-hint"></p>
                                        <p class="p-a verify"></p>
                                        <select name="fid" id="fid" class="pointer">
                                            <option value="">请选择公司</option>
                                            <option th:each="firm:${firmList}" name="fid" th:value="${firm.id}"
                                                    th:text="${firm.coname}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="role-radio form-row">
                                    <div class="field-label">
                                        <label for="">角色：</label>
                                    </div>
                                    <div class="field-widget p-r">
                                        <label shiro:hasAnyRoles="super" for="" class="l-radio" >
                                            <!--<img src="/alink-hq/static/img/select-un.png" alt=""/>-->
                                            <input type="radio" name="role" value="2"/>管理员
                                        </label>
                                        <label shiro:hasAnyRoles="super,admin" for="" class="l-radio">
                                            <!--<img src="/alink-hq/static/img/select-un.png" alt=""/>-->
                                            <input type="radio" name="role" value="3"/>乙方管理员
                                        </label>
                                        <label shiro:hasAnyRoles="super,admin,manager" for="" class="l-radio">
                                            <!--<img src="/alink-hq/static/img/select-on.png" alt=""/>-->
                                            <input type="radio" name="role" checked value="4"/>施工人员
                                        </label>
                                    </div>
                                </div>

                                <div class="form-row p-r">
                                    <div class="field-label">
                                        <label for="">创建账号数量：</label>
                                    </div>
                                    <div class="field-widget p-r">
                                        <p class="create-num-hint"></p>
                                        <div class="num clearfix">
                                            <div class="f-l reduce-num pointer">-</div>
                                            <input type="text" name="num" value="1" class="create-num f-l" style="width: 30px;padding-left: 0;text-align: center;">
                                            <div class="f-l add-num pointer">+</div>
                                        </div>
                                    </div>
                                    <span class="create-account-hint p-a">最多一次可添加100个账号</span>
                                </div>
                                <div class="form-row">
                                    <button type="button" class="confirm-create" openTab="confirm-create">确定创建</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 确定到处弹框 -->
<div class="confirm-create-iframe  pop-iframe " openContent="confirm-create">
    <div class="create-nav p-r pop-nav">
        导出账号
        <img src="/alink-hq/static/img/close.png" alt="" class="p-a pointer close">
    </div>
    <div class="create-content pop-content p-r">
        <div class="c-main excel-main">
            <div class="c-title excel-up">
                <div class="clearfix">
                    <div class="f-l c-width one">账号</div>
                    <div class="f-l c-width two">密码</div>
                </div>
            </div>
            <div class="c-list">
            </div>
        </div>
        <div class="p-a c-bottom">
            <a href="#" class="excel-a"  onclick="method5('d2')">EXCEL导出</a>
            <!--<a href="#" id="excel">Excel导出</a>-->
            <p class="c-hint excel-p">注：请牢记/导出新账号密码，关闭后将无法展示。</p>
        </div>

        <table id="d2" style="display:none;margin-left: 30px;">
            <thead>
            <tr>
                <td>账号</td>
                <td>密码</td>
            </tr>
            </thead>
            <tbody id="toExcel">
            </tbody>

        </table>
    </div>
</div>
<div class="hide-iframe "></div>
<div id="preload-anim">
    <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
    </div>
    <p class="title">
    </p>
</div>
<script src="/alink-hq/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/left.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/excel/excel.js"></script>

<script>
    var list = [];
    $('button.confirm-create').click(function () {
        var fid = $('#fid option:selected').val();
        if (fid == '') {
            $('#fid').prev('.verify').text('请选择公司');
//            $('p.create-company-hint').text('请选择公司');
        } else {
            fid = parseInt(fid);
//            $('p.create-company-hint').text();
            $('#fid').prev('.verify').text('');
        }
        var roleId;
        $('.role-radio .l-radio').each(function () {
            var role=$(this).children('input[type=radio]');
            console.log('role',role);
//            var imgUrl = $(this).find('img').attr('src');
//            if (imgUrl == '/alink-hq/static/img/select-on.png') {
//                roleId = parseInt($(this).find('input').val());
//            }
            if(role.prop('checked')){
                roleId=role.val();
            }
        })
        console.log('roleId',roleId);
        var num = $('.create-num').val();
        if (num != '') {
            num = parseInt(num);
        }
        if (fid != '' && roleId != '') {
            this.setAttribute("disabled", true);
            this.style.background = "#A0A0A0";
            this.style.borderColor = "#A0A0A0";
            $.ajax({
                type: "POST",
                url: "/alink-hq/account/create",
                data: {fid: fid, roleId: roleId, num: num},
                dataType: "json",
                success: function (res) {
                    if (res.result == '000') {
                        var selector = $('div[openContent="confirm-create"]');
                        selector.addClass('active');
                        adjust(selector);
                        showOverlay();
                        var accountList = JSON.parse(res.accountList);
//                        var maxLength = accountList.length;
//                        if (maxLength > 3) {
//                            $('.c-title .c-width.two').css('width', ' 163px');
//                            $('.confirm-create-iframe .c-main').css('width', '310px');
//                        }
                        var arr = {};
                        for (var i = 0; i < accountList.length; i++) {
                            var account = accountList[i];
                            var pwd = '00000000';
                            arr.account = account;
                            arr.pwd = pwd;
                            list.push(arr);
                            arr = {};
                            var content = '<div class="clearfix"><div class="f-l c-width one">' + account + '</div>'
                                    + '<div class="f-l c-width two">' + pwd + '</div></div>';
                            $('.c-list').append(content);
                        }
                        toExcel(list);
                    } else {
                        $('#preload-anim').addClass('active');
                        $('#preload-anim .title').text('加载失败，请重新尝试');
                        setTimeout(function () {
                            $('#preload-anim').removeClass('active');
                        }, 500)
                    }
                }
            })
        }
    })
    $('.pop-nav .close').click(function () {
        var selector = $('div[openContent="confirm-create"]');
        selector.removeClass('active');
        hideOverlay();
        $('#preload-anim').addClass('active');
        $('#preload-anim .title').text(' 创建成功，正在跳转用户列表');
        setTimeout(function () {
            window.location.href = '/alink-hq/account/list';
        }, 500)
    })

//    $('#createAccount .c-content img').click(function () {
//        var imgUrl = $(this).attr('src');
//        var isRadio = '/alink-hq/static/img/select-on.png';
//        var noRadio = '/alink-hq/static/img/select-un.png';
//        if (imgUrl == noRadio) {
//            $(this).attr('src', isRadio);
//            $(this).parent('label').siblings().find('img').attr('src', noRadio);
//        }
//    })
    $(function () {
        var num = 1;
        $('.add-num').click(function () {
            num = $('.create-num').val();
            if (num != '') {
                num = parseInt(num);
            } else {
                num = 1;
            }
            if (num < 100) {
                num++;
                $('.create-num').val(num);
            }
        })
        $('.reduce-num').click(function () {
            num = $('.create-num').val();
            if (num > 1) {
                num--;
                $('.create-num').val(num);
            }
        })
    })
    //监听公司选择
    $('#fid').change(function () {
        var selected = $(this).children('option:selected').val();
        if (selected == '') {
            $('p.create-company-hint').text('请选择公司');
        } else {
            $('p.create-company-hint').text('');
        }
    })

    $(".create-num").bind('input propertychange', function () {
        var num = $(this).val();
        if (num == '') {
            $('p.create-num-hint').text('');
        } else {
            num = parseInt(num);
            if (isNaN(num)) {
                $('.create-num').val('');
            } else {
                if (num > 100) {
                    $('.create-num').val('100');
                    $('p.create-num-hint').text('一次最多创建100个账号');
                } else if (num < 1) {
                    $('.create-num').val('1');
                    $('p.create-num-hint').text('不能再少了');
                } else {
                    $('p.create-num-hint').text('');
                }
            }
        }
    })
</script>
</body>

</html>