<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css" />
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css" />
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css" />

    <title>用户列表</title>
</head>

<body>
    <div class="clearfix main-right-nav">
        <div class="f-l main-right-title">用户列表</div>
        <div class="f-r pointer">
            <img src="/alink-hq/static/img/create-project.png" alt="">
        </div>
        <div class="f-r pointer">
            <img src="/alink-hq/static/img/go-back.png" alt="">
        </div>
    </div>
    <div id="projectList" class="">
        <div class="search-condition ">
            <form action="" class="clearfix">
                <div class="f-l search" style="margin-right:125px;">
                    <div>
                        <label for="account">账号</label>
                        <input type="text" id="account" placeholder="请输入账号">
                    </div>
                    <div class="p-r">
                        <label for="role">角色</label>
                        <select name="role" id="role">
                            <option th:each="role:${roleList}" th:value="${role.id}" th:text="${role.roleName }"></option>
                        </select>
                    </div>
                </div>
                <div class="f-l search">
                    <div>
                        <label for="company">隶属公司</label>
                        <select name="company" id="company">
                            <option th:each="firm:${firmList}" th:value="${firm.id}" th:text="${firm.coname }"></option>
                        </select>
                    </div>
                    <div class="p-r">
                        <label for="add-time">添加时间</label>
                        <input type="text" id="add-time" placeholder="请选择日期" AUTOCOMPLETE="off">
                        <img src="/alink-hq/static/img/date.png" alt="" class="p-a">
                    </div>
                </div>
                <div class="f-r search-button ">
                    <button type="submit" class="pointer">查询</button>
                    <a href="" class="export" style="color: #3598db;">Excel导出</a>
                </div>
            </form>
        </div>
        <div class="search-result">
            <!-- 有数据时 -->
            <table border="1" class="hasData active">
                <thead>
                    <tr>
                        <th>账号</th>
                        <th>用户名</th>
                        <th>绑定手机号</th>
                        <th class="p-r">
                            绑定邮箱
                        </th>
                        <th class="p-r">
                            隶属公司
                        </th>
                        <th class="p-r">
                            角色
                        </th>
                        <th class="p-r">
                            添加时间
                        </th>
                        <th class="p-r">
                            状态
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${pageInfo.list}">
                        <td class="project-name" th:text="${user.account}"></td>
                        <td th:text="${user.uname}"></td>
                        <td th:text="${user.mobile}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.coname}"></td>
                        <td th:text="${user.role_id}"></td>
                        <td th:text="${user.create_date}"></td>
                        <td th:text="${user.status}"><a href="javascript:void(0);" class="start-use" openTab="start-use"></a></td>
                        <td class="p-r">
                            <img src="/alink-hq/static/img/edit.png" alt="" openTab="reset-pwd" class="reset-pwd">
                            <img src="/alink-hq/static/img/exchange.png" alt="" class="center-img">
                            <img src="/alink-hq/static/img/delete.png" alt=""  class="delete-account" openTab="delete-account">
                            <div class="popup p-a">
                                重命名
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11" class="clearfix page">
                            <div class="f-r page-right">
                                <span>
                                    <a th:href="@{/account/list(pageNum=${pageInfo.prePage},uid=15)}">
                                    <img src="/alink-hq/static/img/left-arrow.png" alt=""></a>
                                </span>
                                <span th:text="${pageInfo.pageNum}"></span>
                                <span th:if="${pageInfo.hasNextPage}">
                                    <a th:href="@{/account/list(pageNum=${pageInfo.nextPage},uid=15)}">
                                    <img src="/alink-hq/static/img/right-arrow-color.png" alt=""></a>
                                </span>
                                <span th:unless="${pageInfo.hasNextPage}">
                                    <a th:href="@{/account/list(pageNum=${pageInfo.pageNum},uid=15)}">
                                    <img src="/alink-hq/static/img/right-arrow-color.png" alt=""></a>
                                </span>
                                <span class="m-l-15 m-r-20">
                                    共
                                    <span th:text="${pageInfo.pages}"></span>
                                    页/<span th:text="${pageInfo.total}"></span>条数据
                                </span>
                                <span class="m-r-15">
                                    <input type="number">
                                </span>
                                <span class="m-r-35">
                                    <img src="/alink-hq/static/img/skip-color.png" alt="">
                                </span>
                                <span class="m-r-15r">每页显示：</span>
                                <span class="m-r-20">
                                    <select name="" id="">
                                        <option value="">10</option>
                                        <option value="">5</option>
                                    </select>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!-- 无数据时 -->
            <table border="1" class="noData ">
                <thead>
                    <tr>
                        <th>账号</th>
                        <th>用户名</th>
                        <th>绑定手机号</th>
                        <th class="p-r">
                            <span class="toTime">绑定邮箱</span>
                            <img src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a toTop pointer">
                            <img src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a toBottom pointer">
                        </th>
                        <th class="p-r">
                            <span class="toTime">隶属公司</span>
                            <img src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a toTop pointer">
                            <img src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a toBottom pointer">
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8">
                            <img src="/alink-hq/static/img/no-data.png" alt="">
                            <p>暂无数据</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/alink-hq/static/js/jquery.min.js"></script>
    <script src="/alink-hq/static/laydate/laydate.js"></script>
    <script>
        //日期选择
        laydate.render({
            elem: '#add-time' //指定元素
        });


        //复选框
        $('td.checkbox img').click(function () {
            var hasCheckbox = true;
            var imgUrl = $(this).attr('src');

            if (imgUrl == '/alink-hq/static/img/checkbox.png') {
                $(this).attr('src', '/alink-hq/static/img/checkbox-gou.png');

            } else {
                $(this).attr('src', '/alink-hq/static/img/checkbox.png');

                // $('th.all-checkbox>img').attr('src', '../img/checkbox.png');


            }
            $(this).parents('tbody').find('.checkbox img').each(function () {
                var otherCheckbox = $(this).attr('src');
                console.log('otherCheckbox', otherCheckbox);
                if (otherCheckbox == '/alink-hq/static/img/checkbox.png') {
                    hasCheckbox = false;
                    // $('th.all-checkbox>img').attr('src', '../img/checkbox.png');
                }
            })

        })

        $('th.all-checkbox>img').click(function () {
            var isCheckbox = $(this).attr('src');
            // var hasCheckbox = true;
            if (isCheckbox == '/alink-hq/static/img/checkbox-gou.png') {
                $(this).attr('src', '/alink-hq/static/img/checkbox.png');
                $('td.checkbox img').attr('src', '/alink-hq/static/img/checkbox.png');
            } else {
                $(this).attr('src', '/alink-hq/static/img/checkbox-gou.png');
                $('td.checkbox img').attr('src', '/alink-hq/static/img/checkbox-gou.png');
            }

            // $('tbody tr').each(function () {
            //     var imgUrl = $(this).children('td.checkbox').children('img').attr('src');
            //     if (imgUrl != '../img/checkbox-gou.png') {
            //         hasCheckbox = false;
            //     }
            // })
            // if (hasCheckbox) {

            //     $('td.checkbox img').attr('src', '../img/checkbox.png');
            // } else {
            //     $(this).attr('src', '../img/checkbox-gou.png');
            //     $('td.checkbox img').attr('src', '../img/checkbox-gou.png');
            // }
        })

        //跳转项目详情
        $('.project-name a').click( function () {
            var fileName = 'projectManage';
            var url = 'projectDetail';
            parent.goIframe(fileName, url);
        })

        $('.start-use').click(function(){
            var openTab=$(this).attr('openTab');
            var text=$(this).text();
            console.log(openTab);
            parent.shade(openTab,text);
            parent.scroll();
        })

        $('.reset-pwd').click(function(){
            var openTab=$(this).attr('openTab');
            console.log(openTab);
            parent.shade(openTab);
            parent.scroll();
        })
        $('.delete-account').click(function(){
            var openTab=$(this).attr('openTab');
            console.log(openTab);
            parent.shade(openTab);
            parent.scroll();
        })
       
    </script>
</body>

</html>