<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <title>欢迎页</title>
    <style>
       button{
           color: white;
           background-color: #006DC1;
           width: 50px;
           height: 30px;
       }
    </style>
</head>
<body>
<div th:replace="common/head::head"></div>
<div class="c-container">
    <div th:replace="common/left::left"></div>
    <div class="main-right">
        <h1>Sorry!</h1><br>
        <h1>您没有权限访问！！！!</h1><br>
       <div style="margin-left: 10%"> <button onclick="history.back()">返回</button></div>
    </div>
</div>
</body>
</html>