<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>找回密码</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/myLogin.js}"></script>
    <title>Spring MVC + Thymeleaf Example</title>
</head>
<body>
<!-- Project ContextPath -->
<input type="hidden" id="ctx" th:value="${application.ctx}"/> Hello<br/>
<ul>
    <li>
        <a th:href="@{/home}">我的主页</a>
    </li>
    <li>
        <a th:href="@{/show}">用户名单</a>
    </li>
    <li>
        <a th:href="@{/picture}">查看图片</a>
    </li>
</ul>
<br/>
<div style="width: 40%;margin: 0 auto;border: 1px solid grey;text-align: left">
    <div id="title" class="title">
        <ul>
            <li class="bottom" onclick="showForm(1)">手机号找回密码</li>
            <li onclick="showForm(2)">邮箱号找回密码</li>
        </ul>
        <br/>
    </div>
    <div class="loginForm">
        <form th:action="@{/restPwd}" method="post" id="form1">
            <div id="login1">
                <p>
                    <input style="width: 300px" id="mobile" name="mobile" class="required" placeholder="请输入所绑定的手机号"/>
                </p>
                <p>
                    <input style="width: 200px" id="code" name="code" class="required" placeholder="请输入验证码"/>
                    <input id="sendCode" class="codeBtn" type="button" onclick="pushCode('mobile')" value="获取验证码"/>
                </p>
                <p>
                    <input style="width: 300px" type="password" id="pwd" name="pwd" class="required"
                           placeholder="请输入新密码"/>
                </p>
            </div>
            <div id="login2" class="myDisplay">
                <p>
                    <input style="width: 300px" id="email" name="email" class="required" placeholder="请输入所绑定的邮箱"/>
                </p>
                <p>
                    <input style="width: 200px" id="code2" name="code" class="required" placeholder="请输入验证码"/>
                    <input id="sendCode2" class="codeBtn" type="button" onclick="pushCode('email')" value="获取验证码"/>
                </p>
                <p>
                    <input style="width: 300px" type="password" id="pwd2" name="pwd" class="required"
                           placeholder="请输入新密码"/>
                </p>
            </div>
            <div id="errMsg" class="myDisplay"></div>
            <div style="margin: 10px auto;text-align: center">
                <input class="loginBtn" type="button" onclick="modifyPwd()" value="修改密码"/>
            </div>
        </form>
        <div class="toLogin">
            <ul>
                <li><a th:href="@{/}">已有账号，请点击这里登录</a></li>
            </ul>
            <br/>
        </div>
    </div>
</div>

</body>
</html>