<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index首页</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/myLogin.js}"></script>
    <title>Spring MVC + Thymeleaf Example</title>
</head>
<body>
<!-- Project ContextPath -->
<div th:replace="common/head::head"></div>
<div th:replace="common/left::left"></div>
<div class="main-right">
    <h1>欢迎登陆：<span id="ctx" th:value="${application.ctx}"/> Hello</h1>
</div>

</body>
</html>