<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index首页</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(function () {
            var _ctx = [[${application.ctx}]];
            console.log("Project ContextPath:" + _ctx);
            console.log("路径:" + $("#ctx").val());
//            $("#sendCode").click(function () {
//                $.ajax(_ctx / +"")
//            })
        });
    </script>
    <title>Spring MVC + Thymeleaf Example</title>
</head>
<body>
<!-- Project ContextPath -->
<input type="hidden" id="ctx" th:value="${application.ctx}"/> Hello<br/>
<ul>
    <li>
        <a th:href="@{/home}">我的主页</a>
    </li>
    <li>
        <a th:href="@{/show}">用户名单</a>
    </li>
    <li>
        <a th:href="@{/picture}">查看图片</a>
    </li>
</ul>
<br/>
<div style="width: 40%;margin: 0 auto;border: 1px solid grey">
    <div class="title">
        <ul>
            <li>账密登录</li>
            <li>手机验证码登录</li>
        </ul>
        <br/>
    </div>
    <hr style="width:90%"/>
    <div style="width: 40%;margin: 10px auto">
        <form th:action="@{/login}" method="post">
            <div id="password">
                <p>
                    <input name="uname" placeholder="请输入账号/用户名/邮箱/手机号"/>
                </p>
                <p>
                    <input type="password" name="pwd" placeholder="请输入密码"/>
                </p>
            </div>
            <div id="code" class="myDisplay">
                <p>
                    <input style="width: 280px" name="mobile" placeholder="请输入手机号"/>
                </p>
                <p>
                    <input style="width: 200px" type="code" name="code" placeholder="请输入验证码"/>
                    <input id="sendCode" type="button" value="获取验证码"/>
                </p>
            </div>
            <div style="margin: 10px auto;text-align: center">
                <input class="loginBtn" type="submit" value="登录"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>