<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
</head>
<body>
<h1>用户列表</h1><br/>
<div th:if="${session.user}!=null">
    <p th:text="${session.user.uname}+'：'+${session.user.account}"></p>
</div>
<div shiro:hasAnyRoles="super,admin,manager">
    <li>
        <a th:href="@{/userList}" class="glyphicon glyphicon-th-large"> 用户列表</a>
    </li>
</div>
<div style="width: 80%;height:30%;margin: 0 auto">
    <table style="border-collapse: collapse">
        <!--<thead>-->
        <!--<th th:each="usesr : ${users}" th:text="${usesr.uname}"></th>-->
        <!--</thead>-->
        <tr>
            <td>用户名</td>
            <td>账号</td>
            <td>手机号</td>
            <td>邮箱</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.uname}"></td>
            <td th:text="${user.account}"></td>
            <td th:text="${user.mobile}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.status}"></td>
            <td>
                <div>
                    <ul>
                        <li shiro:hasRole="admin">
                            <a href="#">删除</a>
                        </li>
                        <li shiro:hasRole="admin">
                            <a href="#">修改</a>
                        </li>
                        <li shiro:hasPermission="list">
                            <a href="#">查看</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <ul>
                    <li>
                        <a th:href="@{/userList(page=${page-1})}">上一页</a>
                    </li>
                    <li>
                        <span th:text="${page}"></span>
                    </li>
                    <li>
                        <a th:href="@{/userList(page=${page+1},rows=10)}">下一页</a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
</body>
</html>