<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <title>欢迎页</title>
    <style>
        .welcome {
            margin: 180px auto;
            text-align: center;
        }
        .welcome p {
            font-size: 42px;
            color: #3598DB;
            font-weight: bold;
            line-height: 2;
        }
    </style>
</head>
<body>

<div class="c-container">
    <div th:replace="common/head::head"></div>
    <div class="main clearfix">
        <div th:replace="common/left::left('')"></div>
        <div class="main-right f-r">
            <div class="welcome">
                <p>欢迎进入</p>
                <p>灯联网管理后台</p>
            </div>
        </div>
    </div>
</div>
<script src="/alink-hq/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/alink-hq/static/js/left.js"></script>
</body>
</html>