<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/alink-hq/static/css/base.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>
    <link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>
    <title>欢迎页</title>
    <style>
        .main-right p {
            font-size: 26px;
            color: #3598DB;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:replace="common/head::head"></div>
<div th:replace="common/left::left"></div>
<div class="main-right">
    <p>欢迎进入</p>
    <p>灯联网项目管理后台</p>
</div>
</body>
</html>