<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.LightDao">

    <sql id="Base_Column_List">
		l.id,
        l.mid,
        IFNULL(l.lname,'null') lname,
        l.lmac,
        m.mname,
        m.mesh_id,
        ls.x,
        ls.y,
        ls.off
	</sql>

    <sql id="common_choose">
        <if test="uid!=null and uid!=''">
            <choose>
                <when test="role == 'admin'">
                    AND m.uid IN (SELECT u.id FROM f_user_account u INNER JOIN f_user_role r ON u.id=r.user_id WHERE r.role_id in (2,3,4))
                </when>
                <when test="role == 'manager'">
                    AND m.uid IN (SELECT c.uid FROM f_user_customer c WHERE fid=(SELECT fid FROM f_user_customer WHERE uid=#{uid}))
                    <!--
                        AND m.uid IN (SELECT c.uid FROM f_user_customer c INNER JOIN f_user_role r ON c.uid=r.user_id WHERE r.role_id in (4) OR fid=(SELECT fid FROM f_user_customer WHERE uid=#{uid}))
                     -->
                </when>
                <when test="role == 'user'">
                    AND m.uid =#{uid}
                </when>
                <!--<otherwise>-->
                <!--</otherwise>-->
            </choose>
        </if>
    </sql>
    <select id="getByMap" resultType="map" parameterType="SearchDict">
        SELECT
        <include refid="Base_Column_List"/>
        FROM f_light l
        INNER JOIN f_light_setting ls ON ls.lid=l.id
        INNER JOIN f_mesh m ON m.id = l.mid
        WHERE 1=1
        <include refid="common_choose"></include>
        <if test="mname!=null and mname!=''">
            AND m.mname LIKE CONCAT('%',#{mname},'%')
        </if>
        <if test="meshId!=null and meshId!=''">
            AND m.mesh_id LIKE CONCAT('%',#{meshId},'%')
        </if>
        <if test="gname!=null and gname!=''">
            AND g.gname LIKE CONCAT('%',#{gname},'%')
        </if>
        <if test="pid!=null and pid!=''">
            AND g.pid=#{pid}
        </if>
        <if test="mid!=null and mid!=''">
            AND m.id=#{mid}
        </if>
        <if test="projectId!=null and projectId!=''">
            AND m.project_id=#{projectId}
        </if>
        ORDER BY l.mid DESC
    </select>
    <select id="getLightInfo" resultType="MeshInfo" parameterType="int">
       SELECT
            l.id,
            l.mid,
            l.pid,
            l.gid,
            IFNULL(l.lname,'null') lname,
            l.lmac,
            ls.x,
            ls.y,
            ls.off,
            s.id sid,
            m.project_id,
            p.name,
            m.mname,
            m.mesh_id,
            pl.pname,
            IFNULL(sc.scount,0) scount
        FROM f_light l
        INNER JOIN f_light_setting ls ON ls.lid=l.id
        LEFT JOIN f_mesh m ON m.id=l.mid
        LEFT JOIN f_scene s ON s.mid=m.id
        LEFT JOIN f_project p ON p.id=m.project_id
        LEFT JOIN f_place pl ON pl.id=l.pid
        LEFT JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) sc ON sc.mid=l.mid
        WHERE l.id=#{id} LIMIT 1
    </select>
    <select id="selectByGid" resultType="map" parameterType="list">
        SELECT
            g.id,
            g.mid,
            g.gname,
            m.mesh_id,
            g.pid,
            p.pname
        FROM f_group g
        LEFT JOIN f_place p ON g.pid=p.id
        INNER JOIN f_mesh m ON m.id=g.mid
        WHERE g.id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getGroups" resultType="OptionList" parameterType="map">
        SELECT
            g.id,
            g.gname label
        FROM WHERE f_group g
        INNER JOIN f_mesh m ON m.id = g.mid
        WHERE 1=1
        <include refid="common_choose"></include>
    </select>

    <delete id="deleteLightByIds" parameterType="list">
        DELETE FROM f_light
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="saveRename" parameterType="map">
        UPDATE f_light SET lname=#{name},update_date=NOW() WHERE id =#{id}
    </update>

    <update id="saveUpdate" parameterType="map">
        UPDATE f_light SET gid=#{gid},update_date=NOW()
        WHERE id IN
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>