<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.MeshDao">


    <sql id="Base_Column_List">
		m.id,
        m.uid,
        m.project_id,
        m.mname,
        m.mesh_id,
        m.mesh_type,
        p. name,
        pl.pcount,
        s.scount
	</sql>

    <sql id="common_choose">
        <if test="uid!=null and uid!=''">
            <choose>
                <when test="role == 'admin'">
                    AND m.uid IN (SELECT u.id FROM f_user_account u INNER JOIN f_user_role r ON u.id=r.user_id WHERE r.role_id in (2,3,4))
                </when>
                <when test="role == 'manager'">
                    AND m.uid IN (SELECT c.uid FROM f_user_customer c WHERE fid=(SELECT fid FROM f_user_customer WHERE uid=#{uid}))
                <!--
                    AND m.uid IN (SELECT c.uid FROM f_user_customer c INNER JOIN f_user_role r ON c.uid=r.user_id WHERE r.role_id in (4) AND fid=(SELECT fid FROM f_user_customer WHERE uid=#{uid})) OR m.uid=#{uid}
                 -->
                </when>
                <when test="role == 'user'">
                    AND m.uid =#{uid}
                </when>
                <!--<otherwise>-->
                <!--</otherwise>-->
            </choose>
        </if>
    </sql>
    <select id="getByMap" resultType="map" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE 1=1
        <include refid="common_choose"></include>
        <if test="pid!=null and pid!=''">
            AND p.id=#{pid}
        </if>
    </select>

    <select id="selectByMap" resultType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE 1=1
    </select>

    <select id="getCountByTable" resultType="int" parameterType="string" statementType="STATEMENT">
        select count(*) from ${_parameter}
    </select>

    <select id="selectByMid" resultType="map" parameterType="list">
        SELECT
        m.id,
        m.mname,
        m.mesh_id,
        p.name
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE m.id IN
        <foreach collection="list" item="mid" index="index" open="(" close=")" separator=",">
            #{mid}
        </foreach>
    </select>

    <select id="getProjects" resultType="OptionList" parameterType="int">
        SELECT id,`name` FROM f_project WHERE 1=1
        <if test="uid!=null and uid!=''">
            AND uid=#{uid}
        </if>
    </select>

    <update id="saveUpdate" parameterType="map">
        UPDATE f_mesh SET project_id=#{pid}
        WHERE id IN
        <foreach collection="list" index="index" item="mid" separator="," open="(" close=")">
            #{mid}
        </foreach>
    </update>
</mapper>