<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.MeshDao">


    <sql id="Base_Column_List">
		m.id,
        m.uid,
        m.project_id,
        m.mname,
        m.mesh_id,
        m.mesh_type,
        p. name,
        pl.pcount,
        s.scount
	</sql>

    <select id="getByMap" resultType="map" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE 1=1
        <if test="uid!=null">
            AND m.uid=#{uid}
        </if>
        <if test="pid!=null">
            AND m.project_id=#{pid}
        </if>
    </select>

    <select id="selectByMap" resultType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE 1=1
    </select>

    <select id="getCountByTable" resultType="int" parameterType="string" statementType="STATEMENT">
        select count(*) from ${_parameter}
    </select>
</mapper>