<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.PlaceDao">

    <sql id="Base_Column_List">
        p.id,
        p.mid,
        p.pname,
        p.place_id,
        m.mname,
        m.mesh_id,
        g.gcount
	</sql>

    <select id="getByMap" resultType="map" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        f_place p
        INNER JOIN f_mesh m ON m.id = p.mid
        INNER JOIN (SELECT COUNT(1) gcount,pid FROM f_group GROUP BY pid) g ON g.pid=p.id
        WHERE 1=1
        <if test="mid!=null">
            AND p.mid=#{mid}
        </if>
        <if test="pid!=null">
            AND m.project_id=#{pid}
        </if>
    </select>

    <select id="selectByMap" resultType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE 1=1
    </select>

    <select id="getCountByTable" resultType="int" parameterType="string" statementType="STATEMENT">
        select count(*) from ${_parameter}
    </select>

    <select id="selectByMid" resultType="map" parameterType="list">
        SELECT
        m.id,
        m.mname,
        m.mesh_id,
        p.name
        FROM
        f_mesh m
        INNER JOIN f_project p ON m.project_id = p.id
        INNER JOIN (SELECT COUNT(1) pcount,mid FROM f_place GROUP BY mid) pl ON pl.mid=m.id
        INNER JOIN (SELECT COUNT(1) scount,mid FROM f_scene GROUP BY mid) s ON s.mid=m.id
        WHERE m.id IN
        <foreach collection="list" item="mid" index="index" open="(" close=")" separator=",">
            #{mid}
        </foreach>
    </select>

    <select id="getProjects" resultType="OptionList">
        SELECT id,`name` FROM f_project
    </select>

    <update id="saveUpdate" parameterType="map">
        UPDATE f_mesh SET project_id=#{pid}
        WHERE id IN
        <foreach collection="list" index="index" item="mid" separator="," open="(" close=")">
            #{mid}
        </foreach>
    </update>
</mapper>