<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.ProductDao">

    <select id="getProductList" resultType="com.tpadsz.after.entity.Product">
        SELECT p.id,p.product_category,p.type,p.product_id,p.coname,p.description,o.ota_name FROM f_product p
        LEFT JOIN f_ota_file o on p.o_id=o.id
        <where>
            <if test="type!=null and type!=''">
                (p.type LIKE concat('%',#{type},'%') or p.product_id LIKE concat('%',#{type},'%'))
            </if>
            <if test="coname!=null and coname!=''">
                and p.coname=(SELECT coname FROM f_product where id=#{coname})
            </if>
        </where>
        order by p.id desc
    </select>

    <select id="getConame" resultType="map">
        SELECT coname,id FROM f_product GROUP BY coname
    </select>

    <delete id="delete">
        DELETE FROM f_product WHERE id=#{id}
    </delete>

    <update id="updateDesc">
        UPDATE f_product set description=#{description} WHERE id=#{id}
    </update>

    <select id="getOTAFile" resultType="map">
        SELECT ota_name,id FROM f_ota_file ORDER BY update_date
    </select>

    <select id="getOTACount" resultType="integer">
        SELECT count(*) FROM f_ota_file
    </select>

    <update id="bindOTA">
        UPDATE f_product set o_id=#{o_id} WHERE id=#{id}
    </update>

    <select id="getProductById" resultType="com.tpadsz.after.entity.Product">
        SELECT p.id,p.product_category,p.type,p.product_id,p.coname,p.description,o.ota_name FROM f_product p LEFT JOIN f_ota_file o on p.o_id=o.id WHERE p.id=#{id}
    </select>

    <select id="getFirm" resultType="map">
        select id,coname from f_firm
    </select>
    
    <update id="updateEdit">
        UPDATE f_product
        <set>
            product_category=#{productName},
            <if test="type!=null">
              type=#{type},
            </if>
            product_id=#{productId},
            coname=#{coname},
            <if test="otaId!=null">
                o_id=#{otaId},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
            update_date = now()
        </set>
        where id=#{id}
    </update>

    <select id="getRepeatProductName" resultType="integer">
        SELECT count(*) FROM f_product
        <where>
            coname=#{coname} AND product_category=#{productName}
            <if test="id!=null">
                AND id != #{id}
            </if>
        </where>
    </select>

    <select id="getRepeatProductId" resultType="integer">
        SELECT count(*) FROM f_product
        <where>
            coname=#{coname} AND product_id=#{productId}
            <if test="id!=null">
                AND id != #{id}
            </if>
        </where>
    </select>

    <insert id="saveProduct">
        INSERT INTO alink.f_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            product_category,
            <if test="type!=null and type!=''" >
                type,
            </if>
            product_id,
            coname,
            <if test="description!=null and description!=''">
                description,
            </if>
            create_date,
            update_date,
            <if test="otaId!=null and otaId!=''">
                o_id
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{productName},
            <if test="type!=null and type!=''" >
                #{type},
            </if>
            #{productId},
            #{coname},
            <if test="description!=null and description!=''">
                #{description},
            </if>
            now(),
            now(),
            <if test="otaId!=null and otaId!=''">
                #{otaId}
            </if>
        </trim>
    </insert>

</mapper>