<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.ProjectDao">


    <select id="findProjectList" resultType="Integer">
        SELECT DISTINCT(id) FROM f_project WHERE uid IN (SELECT uid FROM f_user_customer WHERE fid=(SELECT fid FROM f_user_customer WHERE uid=#{uid}))
    </select>

    <select id="searchBySuper" resultType="com.tpadsz.after.entity.ProjectList">
        SELECT t1.id,t1.name,IFNULL(t5.meshNum,0) as meshNum,t2.account as account,t4.coname as coname,DATE_FORMAT(t1.create_date,'%Y-%m-%d %H:%i:%s') AS create_date,DATE_FORMAT(t1.update_date,'%Y-%m-%d %H:%i:%s') AS update_date FROM
        (SELECT * FROM  f_project p WHERE p.name LIKE CONCAT('%',IFNULL(#{name},''),'%') and p.create_date BETWEEN IFNULL(NULLIF(#{startCreateDate},''),p.create_date) and IFNULL(NULLIF(#{endCreateDate},''),p.create_date) and p.update_date BETWEEN IFNULL(NULLIF(#{startUpdateDate},''),p.update_date) and IFNULL(NULLIF(#{endUpdateDate},''),p.update_date)) AS t1 INNER JOIN f_user_account AS t2 ON t1.uid = t2.id INNER JOIN f_user_customer AS t3 ON t2.id = t3.uid INNER JOIN f_firm AS t4 ON t3.fid = t4.id LEFT JOIN (SELECT count(id) AS meshNum,project_id FROM f_mesh GROUP BY project_id) AS t5 ON t1.id = t5.project_id WHERE t2.account LIKE CONCAT('%',IFNULL(#{account},''),'%') ORDER BY
        <if test="sortFlag==null">
        t1.create_date DESC,t1.update_date DESC
        </if>
        <if test="sortFlag==''">
            t1.create_date DESC,t1.update_date DESC
        </if>
        <if test="sortFlag==1">
        t1.create_date ASC,t1.update_date ASC
        </if>
        <if test="sortFlag==2">
            t1.update_date DESC, t1.create_date DESC
        </if>
        <if test="sortFlag==3">
            t1.update_date ASC, t1.create_date ASC
        </if>
    </select>

    <select id="searchByManager" resultType="com.tpadsz.after.entity.ProjectList">
        SELECT t1.id,t1.name,IFNULL(t5.meshNum,0) as meshNum,t2.account as account,t4.coname as coname,DATE_FORMAT(t1.create_date,'%Y-%m-%d %H:%i:%s') AS create_date,DATE_FORMAT(t1.update_date,'%Y-%m-%d %H:%i:%s') AS update_date FROM
        (SELECT * FROM f_project p WHERE p.name LIKE CONCAT('%',IFNULL(#{name},''),'%') and p.create_date BETWEEN IFNULL(NULLIF(#{startCreateDate},''),p.create_date) and IFNULL(NULLIF(#{endCreateDate},''),p.create_date) and p.update_date BETWEEN IFNULL(NULLIF(#{startUpdateDate},''),p.update_date) and IFNULL(NULLIF(#{endUpdateDate},''),p.update_date) and id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">#{item}
        </foreach>) AS t1
        INNER JOIN f_user_account AS t2 ON t1.uid = t2.id INNER JOIN f_user_customer AS t3 ON t2.id = t3.uid INNER JOIN f_firm AS t4 ON t3.fid = t4.id LEFT JOIN (SELECT count(id) AS meshNum,project_id FROM f_mesh GROUP BY project_id) AS t5 ON t1.id = t5.project_id WHERE t2.account LIKE CONCAT('%',IFNULL(#{account},''),'%') ORDER BY
        <if test="sortFlag==null">
            t1.create_date DESC,t1.update_date DESC
        </if>
        <if test="sortFlag==''">
            t1.create_date DESC,t1.update_date DESC
        </if>
        <if test="sortFlag==1">
            t1.create_date ASC,t1.update_date ASC
        </if>
        <if test="sortFlag==2">
            t1.update_date DESC, t1.create_date DESC
        </if>
        <if test="sortFlag==3">
            t1.update_date ASC, t1.create_date ASC
        </if>
    </select>

    <select id="searchByUser" resultType="com.tpadsz.after.entity.ProjectList">
        SELECT t1.id,t1.name,IFNULL(t5.meshNum,0) as meshNum,t2.account as account,t4.coname as coname,DATE_FORMAT(t1.create_date,'%Y-%m-%d %H:%i:%s') AS create_date,DATE_FORMAT(t1.update_date,'%Y-%m-%d %H:%i:%s') AS update_date FROM
        (SELECT * FROM f_project p WHERE p.name LIKE CONCAT('%',IFNULL(#{name},''),'%') and p.create_date BETWEEN IFNULL(NULLIF(#{startCreateDate},''),p.create_date) and IFNULL(NULLIF(#{endCreateDate},''),p.create_date) and p.update_date BETWEEN IFNULL(NULLIF(#{startUpdateDate},''),p.update_date) and IFNULL(NULLIF(#{endUpdateDate},''),p.update_date) and p.uid=#{uid}) AS t1 INNER JOIN f_user_account AS t2 ON t1.uid = t2.id INNER JOIN f_user_customer AS t3 ON t2.id = t3.uid INNER JOIN f_firm AS t4 ON t3.fid = t4.id LEFT JOIN (SELECT count(id) AS meshNum,project_id FROM f_mesh GROUP BY project_id) AS t5 ON t1.id = t5.project_id ORDER BY
        <if test="sortFlag==null">
            t1.create_date DESC,t1.update_date DESC
        </if>
        <if test="sortFlag==''">
            t1.create_date DESC,t1.update_date DESC
        </if>
        <if test="sortFlag==1">
            t1.create_date ASC,t1.update_date ASC
        </if>
        <if test="sortFlag==2">
            t1.update_date DESC, t1.create_date DESC
        </if>
        <if test="sortFlag==3">
            t1.update_date ASC, t1.create_date ASC
        </if>
    </select>

    <insert id="createProject" parameterType="string">
        INSERT INTO f_project (name,uid,create_date,update_date) VALUES(#{name},#{uid},NOW(),NOW())
    </insert>

    <select id="findRepeatNameByAccount" resultType="int">
        SELECT count(1) from f_project p where p.name = #{name} and p.uid=(SELECT id FROM f_user_account WHERE account=#{account})
    </select>

    <update id="renameProject">
            update f_project p set p.name = #{name},p.update_date = NOW() where p.id=#{projectId}
    </update>

    <update id="transferProject">
        update f_project set uid = #{uid} where id=#{id}
    </update>


    <select id="querySidByPid" resultType="integer">
        SELECT id from f_scene where uid=#{uid} and mid IN (
        SELECT m.id from f_mesh m where m.project_id=#{id} and m.uid = #{uid}
        )
    </select>

    <delete id="deleteSceneByPid" parameterType="java.util.List">
        DELETE FROM f_scene
        WHERE mid IN (SELECT m.id from (SELECT id from f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteLightSettingBySid">
        DELETE FROM f_light_setting
        WHERE sid IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteGroupByPid">
        DELETE FROM f_group WHERE mid IN (SELECT m.id from (SELECT id from f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteProByPid">
        DELETE FROM f_project WHERE id=#{id} and uid = #{uid}
    </delete>

    <delete id="deleteLightByPid">
        DELETE FROM f_light WHERE mid IN (SELECT m.id from (SELECT id from f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteMeshByPid">
        DELETE FROM f_mesh WHERE id IN (SELECT m.id from (SELECT id from f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <select id="findPlaceNum" resultType="int">
        SELECT count(*) from f_place where mid IN (SELECT id FROM f_mesh WHERE project_id=#{id})
    </select>

    <select id="findGroupNum" resultType="int">
        SELECT count(*) from f_group where mid IN (SELECT id FROM f_mesh WHERE project_id=#{id})
    </select>

    <select id="findLightNum" resultType="int">
        SELECT count(*) from f_light where mid IN (SELECT id FROM f_mesh WHERE project_id=#{id})
    </select>

</mapper>