<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpadsz.after.dao.RoleDao">

    <resultMap id="BaseResultMap" type="Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_type" property="roleType" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		id ,role_name,role_type
	</sql>
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from f_role
    </select>
    <select id="selectById" resultType="string" parameterType="java.lang.Integer">
        SELECT
        r.role_type
        FROM f_role r
        INNER JOIN f_user_role ur ON ur.role_id = r.id
        INNER JOIN f_user_account u ON u.id = ur.user_id
        WHERE u.id = #{uid}
    </select>

    <select id="selectRoleList" resultType="com.tpadsz.after.entity.RoleList">
        SELECT
        r.id ,r.role_name AS roleName,IFNULL(ur.accountNum,0) as accountNum,DATE_FORMAT(r.create_time,'%Y-%m-%d %H:%i:%s') AS createTime,DATE_FORMAT(r.update_time,'%Y-%m-%d %H:%i:%s') AS updateTime
        FROM f_role r
        LEFT JOIN (SELECT count(id) AS accountNum,role_id FROM f_user_role GROUP BY role_id) AS ur ON ur.role_id = r.id WHERE r.role_name LIKE CONCAT('%',IFNULL(#{roleName},''),'%') and r.id > #{roleId} ORDER BY r.id
    </select>


    <select id="selectIdByName" resultType="java.lang.Integer">
		select id from role
		where role_name=#{roleName,jdbcType=VARCHAR}
	</select>

    <delete id="deleteById" parameterType="java.lang.Integer">
		delete from f_role
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insert" parameterType="Role">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into f_role(role_name)
        values(#{roleName,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="Role">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into f_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                role_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="Role">
        update f_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateById" parameterType="Role">
		update f_role
		set role_name = #{roleName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>