<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.SceneDao">


    <select id="searchSceneList" resultType="com.tpadsz.after.entity.SceneList">
        SELECT s.id,s.sname AS sceneName,s.scene_id AS sceneId,#{lid} AS lid,#{meshName} AS meshName,#{meshId} AS meshId FROM f_scene s WHERE s.sname LIKE CONCAT('%',IFNULL(#{sceneName},''),'%') and s.scene_id LIKE CONCAT('%',IFNULL(#{sceneId},''),'%') and s.mid=#{mid} ORDER BY s.scene_id
    </select>

    <select id="findPlaceBySid" resultType="com.tpadsz.after.entity.MeshInfo">
        SELECT id AS pid,place_id,pname FROM f_place WHERE mid = (SELECT mid FROM f_scene WHERE id=#{sid})
    </select>

    <select id="findGroupByPid" resultType="com.tpadsz.after.entity.MeshInfo">
        SELECT id AS gid,gname FROM f_group WHERE pid = #{pid}
    </select>

    <select id="findLightByGid" resultType="com.tpadsz.after.entity.MeshInfo">
        SELECT id,lmac,lname,x,y FROM f_light AS t1 INNER JOIN f_light_setting AS t2 ON t1.id = t2.uid WHERE gid = #{gid}
    </select>

    <select id="findRepeatNameBySid" resultType="int">
        SELECT count(1) from f_scene s where s.sname = #{sceneName} and s.mid=(SELECT mid FROM f_scene WHERE id=#{sid})
    </select>

    <update id="renameScene">
        update f_scene s set s.name = #{sceneName},s.update_date = NOW() where s.id=#{sid}
    </update>

    <delete id="deleteScene" parameterType="int">
        DELETE FROM f_scene WHERE id = #{sid}
    </delete>

    <update id="saveSceneName">
        UPDATE f_scene SET sname = #{sceneName},update_date=NOW() WHERE sid =#{sid}
    </update>

    <select id="findProjectByMeshId" resultType="com.tpadsz.after.entity.ProjectList">
        SELECT p.id,p.name FROM f_project p WHERE p.id = (SELECT project_id FROM f_mesh WHERE mesh_id = #{meshId})
    </select>

</mapper>