<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.SceneDao">


    <select id="searchSceneList" resultType="com.tpadsz.after.entity.SceneList">
        SELECT s.id,s.sname AS sceneName,s.scene_id AS sceneId,#{meshName} AS meshName,#{meshId} AS meshId FROM f_scene s WHERE s.sname LIKE CONCAT('%',IFNULL(#{sceneName},''),'%') and s.scene_id LIKE CONCAT('%',IFNULL(#{sceneId},''),'%') and s.mid=#{mid} ORDER BY s.scene_id
    </select>

    <select id="findRepeatNameBySid" resultType="int">
        SELECT count(1) from f_scene s where s.sname = #{sceneName} and s.mid=(SELECT mid FROM f_scene WHERE id=#{sid})
    </select>

    <update id="renameScene">
        update f_scene s set s.name = #{sceneName},s.update_date = NOW() where s.id=#{sid}
    </update>

    <delete id="deleteScene" parameterType="int">
        DELETE FROM f_scene WHERE id = #{sid}
    </delete>

    <update id="saveSceneName">
        UPDATE f_scene SET sname = #{sceneName},update_date=NOW() WHERE sid =#{sid}
    </update>

    <select id="findProjectIdByMeshId" resultType="int">
        SELECT project_id from f_mesh where mesh_id = #{meshId}
    </select>

</mapper>