<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<title>导航栏</title>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/base.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>-->
</head>
<body>
<div th:fragment="head">
    <div class="nav-top clearfix">
        <div class="f-l nav-title">
            灯联网项目管理后台
        </div>
        <div class="f-r ad-nav">
            <span class="nav-img">
                <img src="/alink-hq/static/img/off-unclick .png" alt=""/>
            </span>
            <span>退出</span>
        </div>
        <div class="f-r ad-nav">
            <span class="nav-img">
                <img src="/alink-hq/static/img/admin.png" alt=""/>
            </span>
            <span th:if="${session.user}!=null">
                <span th:text="${session.user.uname}"></span>
            </span>
            <!--<span>admin</span>-->
        </div>
    </div>
</div>
</body>
</html>