<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<title>导航栏</title>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/base.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>-->
</head>
<body>
<div th:fragment="left">
    <div class="main p-r">
        <div class="p-a main-left">
            <ul>
                <li class="one-list">
                    <div class="p-r">
                        <a href="javascript:void(0);" tab="projectManage">项目管理</a><img
                            src="/alink-hq/static/img/bottom-triangle.png" alt="" class="p-a">
                    </div>
                    <ul>
                        <li tab="projectList"><a th:href="@{/projectList}">项目列表</a></li>
                        <li tab="networkList"><a th:href="@{/mesh/list}">网络列表</a></li>
                    </ul>
                </li>
                <li class="one-list">
                    <div class="p-r">
                        <a href="javascript:void(0);" tab="userManage">用户管理</a><img
                            src="/alink-hq/static/img/top-triangle.png" alt="" class="p-a">
                    </div>
                    <ul class="">
                        <li tab="useList">用户列表</li>
                        <li tab="createAccount">创建账号</li>
                    </ul>
                </li>
                <li class="one-list">
                    <a href="javascript:void(0);" tab="account">我的账户</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>