<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<title>分页</title>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/base.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/leftNav.css"/>-->
    <!--<link rel="stylesheet" href="/alink-hq/static/css/projectManage.css"/>-->
    <!--<script src="/alink-hq/static/js/jquery.min.js"></script>-->
</head>
<body>
<div class="f-r page-right" th:fragment="page">
  <span>
      <!--<div th:switch="${pageInfo.pageNum}">-->
      <!--<a th:case="1" href="javascript:void(0)">-->
      <!--<img src="/alink-hq/static/img/left-arrow.png" alt="">-->
      <!--</a>-->
      <!--<a th:case="*" th:href="@{/mesh/list(uid=${session.user.id},pageNum=${pageInfo.pageNum}-1,pageSize=${pageInfo.pageSize})}">-->
      <!--<img src="/alink-hq/static/img/left-arrow.png" alt="" id="prev">-->
      <!--</a>-->
      <!--</div>-->
       <!--<img src="/alink-hq/static/img/left-arrow.png" id="prev" alt="">-->
      <span class="prev active" id="prev"><span><</span></span>
  </span>
    <span th:inline="text" id="pageNum" style="width: 20px">[[${pageInfo.pageNum}]]</span>
    <span>
        <!--<div th:switch="${pageInfo.pageNum}">-->
            <!--<a th:case="${pageInfo.total}" href="javascript:void(0)">-->
                <!--<img src="/alink-hq/static/img/right-arrow-color.png" alt="">-->
            <!--</a>-->
            <!--<a th:case="*"-->
               <!--th:href="@{/mesh/list(uid=${session.user.id},pageNum=${pageInfo.pageNum+1},pageSize=${pageInfo.pageSize})}">-->
                <!--<img src="/alink-hq/static/img/right-arrow-color.png" alt="">-->
            <!--</a>-->
        <!--</div>-->
        <!--<img src="/alink-hq/static/img/right-arrow-color.png" id="next" alt="">-->
        <span class="next" id="next"><span>></span></span>
    </span>
    <span class="m-l-15 m-r-20">共<span class="amount" id="pages" th:inline="text">[[${pageInfo.pages}]]</span>页/
        <span class="amount  pageTotal" th:inline="text">[[${pageInfo.total}]]</span>条数据</span>
    <span class="m-r-15">
        <input type="number" th:value="${pageInfo.pageNum}" id="page" name="pageNum" style="    height: 22px;">
    </span>
    <span class="m-r-35">
        <!--<img src="/alink-hq/static/img/skip.png" id="skip" alt="" class="pointer">-->
         <div id="skip" class="pointer moment skipPageBtn"  onmousedown="skipBtnMouseDown()" onmouseup="skipBtnMouseUp()">跳转</div>
    </span>
    <span class="m-r-15r">每页显示：</span>
    <span class="m-r-20">
        <select id="size" name="pageSize">
            <option value="10">10</option>
            <option value="8">8</option>
            <option value="5">5</option>
        </select>
    </span>
</div>
<!--<script>-->
    <!--$(function () {-->
        <!--var page = parseInt($('#pageNum').text());-->
        <!--var pageTotal = parseInt($('#pages').text());-->
        <!--if (page == 1) {-->
            <!--$('#prev').attr('src', '/alink-hq/static/img/left-arrow.png');-->
            <!--$("#prev").addClass('disabled');-->
        <!--} else {-->
            <!--$('#prev').attr('src', '/alink-hq/static/img/left-arrow-color.png');-->
        <!--}-->
        <!--if (page == pageTotal) {-->
            <!--$('#next').attr('src', '/alink-hq/static/img/right-arrow.png');-->
            <!--$("#next").addClass('disabled');-->
        <!--} else {-->
            <!--$('#next').attr('src', '/alink-hq/static/img/right-arrow-color.png');-->
        <!--}-->
    <!--})-->
<!--</script>-->

</body>
</html>